/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-100pgar-name: 'icon-100pgar';
$icon-100pgar-x: 71px;
$icon-100pgar-y: 0px;
$icon-100pgar-offset-x: -71px;
$icon-100pgar-offset-y: 0px;
$icon-100pgar-width: 65px;
$icon-100pgar-height: 65px;
$icon-100pgar-total-width: 352px;
$icon-100pgar-total-height: 345px;
$icon-100pgar-image: '../img/icon-set.png';
$icon-100pgar: (71px, 0px, -71px, 0px, 65px, 65px, 352px, 345px, '../img/icon-set.png', 'icon-100pgar', );
$icon-adobe-name: 'icon-adobe';
$icon-adobe-x: 288px;
$icon-adobe-y: 123px;
$icon-adobe-offset-x: -288px;
$icon-adobe-offset-y: -123px;
$icon-adobe-width: 34px;
$icon-adobe-height: 34px;
$icon-adobe-total-width: 352px;
$icon-adobe-total-height: 345px;
$icon-adobe-image: '../img/icon-set.png';
$icon-adobe: (288px, 123px, -288px, -123px, 34px, 34px, 352px, 345px, '../img/icon-set.png', 'icon-adobe', );
$icon-akiwa-name: 'icon-akiwa';
$icon-akiwa-x: 40px;
$icon-akiwa-y: 228px;
$icon-akiwa-offset-x: -40px;
$icon-akiwa-offset-y: -228px;
$icon-akiwa-width: 37px;
$icon-akiwa-height: 37px;
$icon-akiwa-total-width: 352px;
$icon-akiwa-total-height: 345px;
$icon-akiwa-image: '../img/icon-set.png';
$icon-akiwa: (40px, 228px, -40px, -228px, 37px, 37px, 352px, 345px, '../img/icon-set.png', 'icon-akiwa', );
$icon-arr-toright-name: 'icon-arr-toright';
$icon-arr-toright-x: 234px;
$icon-arr-toright-y: 266px;
$icon-arr-toright-offset-x: -234px;
$icon-arr-toright-offset-y: -266px;
$icon-arr-toright-width: 15px;
$icon-arr-toright-height: 11px;
$icon-arr-toright-total-width: 352px;
$icon-arr-toright-total-height: 345px;
$icon-arr-toright-image: '../img/icon-set.png';
$icon-arr-toright: (234px, 266px, -234px, -266px, 15px, 11px, 352px, 345px, '../img/icon-set.png', 'icon-arr-toright', );
$icon-audits-name: 'icon-audits';
$icon-audits-x: 48px;
$icon-audits-y: 135px;
$icon-audits-offset-x: -48px;
$icon-audits-offset-y: -135px;
$icon-audits-width: 47px;
$icon-audits-height: 48px;
$icon-audits-total-width: 352px;
$icon-audits-total-height: 345px;
$icon-audits-image: '../img/icon-set.png';
$icon-audits: (48px, 135px, -48px, -135px, 47px, 48px, 352px, 345px, '../img/icon-set.png', 'icon-audits', );
$icon-best-blog-name: 'icon-best-blog';
$icon-best-blog-x: 288px;
$icon-best-blog-y: 157px;
$icon-best-blog-offset-x: -288px;
$icon-best-blog-offset-y: -157px;
$icon-best-blog-width: 32px;
$icon-best-blog-height: 32px;
$icon-best-blog-total-width: 352px;
$icon-best-blog-total-height: 345px;
$icon-best-blog-image: '../img/icon-set.png';
$icon-best-blog: (288px, 157px, -288px, -157px, 32px, 32px, 352px, 345px, '../img/icon-set.png', 'icon-best-blog', );
$icon-client-name: 'icon-client';
$icon-client-x: 288px;
$icon-client-y: 85px;
$icon-client-offset-x: -288px;
$icon-client-offset-y: -85px;
$icon-client-width: 35px;
$icon-client-height: 38px;
$icon-client-total-width: 352px;
$icon-client-total-height: 345px;
$icon-client-image: '../img/icon-set.png';
$icon-client: (288px, 85px, -288px, -85px, 35px, 38px, 352px, 345px, '../img/icon-set.png', 'icon-client', );
$icon-clip-name: 'icon-clip';
$icon-clip-x: 170px;
$icon-clip-y: 108px;
$icon-clip-offset-x: -170px;
$icon-clip-offset-y: -108px;
$icon-clip-width: 24px;
$icon-clip-height: 23px;
$icon-clip-total-width: 352px;
$icon-clip-total-height: 345px;
$icon-clip-image: '../img/icon-set.png';
$icon-clip: (170px, 108px, -170px, -108px, 24px, 23px, 352px, 345px, '../img/icon-set.png', 'icon-clip', );
$icon-copywrighting-name: 'icon-copywrighting';
$icon-copywrighting-x: 246px;
$icon-copywrighting-y: 168px;
$icon-copywrighting-offset-x: -246px;
$icon-copywrighting-offset-y: -168px;
$icon-copywrighting-width: 35px;
$icon-copywrighting-height: 47px;
$icon-copywrighting-total-width: 352px;
$icon-copywrighting-total-height: 345px;
$icon-copywrighting-image: '../img/icon-set.png';
$icon-copywrighting: (246px, 168px, -246px, -168px, 35px, 47px, 352px, 345px, '../img/icon-set.png', 'icon-copywrighting', );
$icon-corpport-name: 'icon-corpport';
$icon-corpport-x: 144px;
$icon-corpport-y: 135px;
$icon-corpport-offset-x: -144px;
$icon-corpport-offset-y: -135px;
$icon-corpport-width: 50px;
$icon-corpport-height: 45px;
$icon-corpport-total-width: 352px;
$icon-corpport-total-height: 345px;
$icon-corpport-image: '../img/icon-set.png';
$icon-corpport: (144px, 135px, -144px, -135px, 50px, 45px, 352px, 345px, '../img/icon-set.png', 'icon-corpport', );
$icon-danger-name: 'icon-danger';
$icon-danger-x: 91px;
$icon-danger-y: 184px;
$icon-danger-offset-x: -91px;
$icon-danger-offset-y: -184px;
$icon-danger-width: 47px;
$icon-danger-height: 41px;
$icon-danger-total-width: 352px;
$icon-danger-total-height: 345px;
$icon-danger-image: '../img/icon-set.png';
$icon-danger: (91px, 184px, -91px, -184px, 47px, 41px, 352px, 345px, '../img/icon-set.png', 'icon-danger', );
$icon-design-name: 'icon-design';
$icon-design-x: 196px;
$icon-design-y: 0px;
$icon-design-offset-x: -196px;
$icon-design-offset-y: 0px;
$icon-design-width: 50px;
$icon-design-height: 45px;
$icon-design-total-width: 352px;
$icon-design-total-height: 345px;
$icon-design-image: '../img/icon-set.png';
$icon-design: (196px, 0px, -196px, 0px, 50px, 45px, 352px, 345px, '../img/icon-set.png', 'icon-design', );
$icon-eye-white-name: 'icon-eye-white';
$icon-eye-white-x: 323px;
$icon-eye-white-y: 281px;
$icon-eye-white-offset-x: -323px;
$icon-eye-white-offset-y: -281px;
$icon-eye-white-width: 27px;
$icon-eye-white-height: 13px;
$icon-eye-white-total-width: 352px;
$icon-eye-white-total-height: 345px;
$icon-eye-white-image: '../img/icon-set.png';
$icon-eye-white: (323px, 281px, -323px, -281px, 27px, 13px, 352px, 345px, '../img/icon-set.png', 'icon-eye-white', );
$icon-eye-name: 'icon-eye';
$icon-eye-x: 246px;
$icon-eye-y: 215px;
$icon-eye-offset-x: -246px;
$icon-eye-offset-y: -215px;
$icon-eye-width: 20px;
$icon-eye-height: 10px;
$icon-eye-total-width: 352px;
$icon-eye-total-height: 345px;
$icon-eye-image: '../img/icon-set.png';
$icon-eye: (246px, 215px, -246px, -215px, 20px, 10px, 352px, 345px, '../img/icon-set.png', 'icon-eye', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 121px;
$icon-fb-y: 72px;
$icon-fb-offset-x: -121px;
$icon-fb-offset-y: -72px;
$icon-fb-width: 14px;
$icon-fb-height: 27px;
$icon-fb-total-width: 352px;
$icon-fb-total-height: 345px;
$icon-fb-image: '../img/icon-set.png';
$icon-fb: (121px, 72px, -121px, -72px, 14px, 27px, 352px, 345px, '../img/icon-set.png', 'icon-fb', );
$icon-freeanaliz-name: 'icon-freeanaliz';
$icon-freeanaliz-x: 0px;
$icon-freeanaliz-y: 184px;
$icon-freeanaliz-offset-x: 0px;
$icon-freeanaliz-offset-y: -184px;
$icon-freeanaliz-width: 44px;
$icon-freeanaliz-height: 44px;
$icon-freeanaliz-total-width: 352px;
$icon-freeanaliz-total-height: 345px;
$icon-freeanaliz-image: '../img/icon-set.png';
$icon-freeanaliz: (0px, 184px, 0px, -184px, 44px, 44px, 352px, 345px, '../img/icon-set.png', 'icon-freeanaliz', );
$icon-galka-gray-sm-name: 'icon-galka-gray-sm';
$icon-galka-gray-sm-x: 249px;
$icon-galka-gray-sm-y: 266px;
$icon-galka-gray-sm-offset-x: -249px;
$icon-galka-gray-sm-offset-y: -266px;
$icon-galka-gray-sm-width: 12px;
$icon-galka-gray-sm-height: 10px;
$icon-galka-gray-sm-total-width: 352px;
$icon-galka-gray-sm-total-height: 345px;
$icon-galka-gray-sm-image: '../img/icon-set.png';
$icon-galka-gray-sm: (249px, 266px, -249px, -266px, 12px, 10px, 352px, 345px, '../img/icon-set.png', 'icon-galka-gray-sm', );
$icon-galka-white-sm-name: 'icon-galka-white-sm';
$icon-galka-white-sm-x: 266px;
$icon-galka-white-sm-y: 215px;
$icon-galka-white-sm-offset-x: -266px;
$icon-galka-white-sm-offset-y: -215px;
$icon-galka-white-sm-width: 13px;
$icon-galka-white-sm-height: 10px;
$icon-galka-white-sm-total-width: 352px;
$icon-galka-white-sm-total-height: 345px;
$icon-galka-white-sm-image: '../img/icon-set.png';
$icon-galka-white-sm: (266px, 215px, -266px, -215px, 13px, 10px, 352px, 345px, '../img/icon-set.png', 'icon-galka-white-sm', );
$icon-galka-name: 'icon-galka';
$icon-galka-x: 191px;
$icon-galka-y: 228px;
$icon-galka-offset-x: -191px;
$icon-galka-offset-y: -228px;
$icon-galka-width: 26px;
$icon-galka-height: 20px;
$icon-galka-total-width: 352px;
$icon-galka-total-height: 345px;
$icon-galka-image: '../img/icon-set.png';
$icon-galka: (191px, 228px, -191px, -228px, 26px, 20px, 352px, 345px, '../img/icon-set.png', 'icon-galka', );
$icon-glob-name: 'icon-glob';
$icon-glob-x: 196px;
$icon-glob-y: 92px;
$icon-glob-offset-x: -196px;
$icon-glob-offset-y: -92px;
$icon-glob-width: 45px;
$icon-glob-height: 45px;
$icon-glob-total-width: 352px;
$icon-glob-total-height: 345px;
$icon-glob-image: '../img/icon-set.png';
$icon-glob: (196px, 92px, -196px, -92px, 45px, 45px, 352px, 345px, '../img/icon-set.png', 'icon-glob', );
$icon-google-name: 'icon-google';
$icon-google-x: 323px;
$icon-google-y: 257px;
$icon-google-offset-x: -323px;
$icon-google-offset-y: -257px;
$icon-google-width: 24px;
$icon-google-height: 24px;
$icon-google-total-width: 352px;
$icon-google-total-height: 345px;
$icon-google-image: '../img/icon-set.png';
$icon-google: (323px, 257px, -323px, -257px, 24px, 24px, 352px, 345px, '../img/icon-set.png', 'icon-google', );
$icon-gplus-name: 'icon-gplus';
$icon-gplus-x: 136px;
$icon-gplus-y: 108px;
$icon-gplus-offset-x: -136px;
$icon-gplus-offset-y: -108px;
$icon-gplus-width: 34px;
$icon-gplus-height: 26px;
$icon-gplus-total-width: 352px;
$icon-gplus-total-height: 345px;
$icon-gplus-image: '../img/icon-set.png';
$icon-gplus: (136px, 108px, -136px, -108px, 34px, 26px, 352px, 345px, '../img/icon-set.png', 'icon-gplus', );
$icon-graph-name: 'icon-graph';
$icon-graph-x: 136px;
$icon-graph-y: 0px;
$icon-graph-offset-x: -136px;
$icon-graph-offset-y: 0px;
$icon-graph-width: 60px;
$icon-graph-height: 60px;
$icon-graph-total-width: 352px;
$icon-graph-total-height: 345px;
$icon-graph-image: '../img/icon-set.png';
$icon-graph: (136px, 0px, -136px, 0px, 60px, 60px, 352px, 345px, '../img/icon-set.png', 'icon-graph', );
$icon-grow-name: 'icon-grow';
$icon-grow-x: 196px;
$icon-grow-y: 137px;
$icon-grow-offset-x: -196px;
$icon-grow-offset-y: -137px;
$icon-grow-width: 48px;
$icon-grow-height: 42px;
$icon-grow-total-width: 352px;
$icon-grow-total-height: 345px;
$icon-grow-image: '../img/icon-set.png';
$icon-grow: (196px, 137px, -196px, -137px, 48px, 42px, 352px, 345px, '../img/icon-set.png', 'icon-grow', );
$icon-in-name: 'icon-in';
$icon-in-x: 323px;
$icon-in-y: 209px;
$icon-in-offset-x: -323px;
$icon-in-offset-y: -209px;
$icon-in-width: 25px;
$icon-in-height: 24px;
$icon-in-total-width: 352px;
$icon-in-total-height: 345px;
$icon-in-image: '../img/icon-set.png';
$icon-in: (323px, 209px, -323px, -209px, 25px, 24px, 352px, 345px, '../img/icon-set.png', 'icon-in', );
$icon-info-bold-name: 'icon-info-bold';
$icon-info-bold-x: 235px;
$icon-info-bold-y: 228px;
$icon-info-bold-offset-x: -235px;
$icon-info-bold-offset-y: -228px;
$icon-info-bold-width: 18px;
$icon-info-bold-height: 18px;
$icon-info-bold-total-width: 352px;
$icon-info-bold-total-height: 345px;
$icon-info-bold-image: '../img/icon-set.png';
$icon-info-bold: (235px, 228px, -235px, -228px, 18px, 18px, 352px, 345px, '../img/icon-set.png', 'icon-info-bold', );
$icon-info-name: 'icon-info';
$icon-info-x: 217px;
$icon-info-y: 228px;
$icon-info-offset-x: -217px;
$icon-info-offset-y: -228px;
$icon-info-width: 18px;
$icon-info-height: 18px;
$icon-info-total-width: 352px;
$icon-info-total-height: 345px;
$icon-info-image: '../img/icon-set.png';
$icon-info: (217px, 228px, -217px, -228px, 18px, 18px, 352px, 345px, '../img/icon-set.png', 'icon-info', );
$icon-inst-name: 'icon-inst';
$icon-inst-x: 323px;
$icon-inst-y: 159px;
$icon-inst-offset-x: -323px;
$icon-inst-offset-y: -159px;
$icon-inst-width: 25px;
$icon-inst-height: 25px;
$icon-inst-total-width: 352px;
$icon-inst-total-height: 345px;
$icon-inst-image: '../img/icon-set.png';
$icon-inst: (323px, 159px, -323px, -159px, 25px, 25px, 352px, 345px, '../img/icon-set.png', 'icon-inst', );
$icon-interesting-video-name: 'icon-interesting-video';
$icon-interesting-video-x: 184px;
$icon-interesting-video-y: 184px;
$icon-interesting-video-offset-x: -184px;
$icon-interesting-video-offset-y: -184px;
$icon-interesting-video-width: 46px;
$icon-interesting-video-height: 39px;
$icon-interesting-video-total-width: 352px;
$icon-interesting-video-total-height: 345px;
$icon-interesting-video-image: '../img/icon-set.png';
$icon-interesting-video: (184px, 184px, -184px, -184px, 46px, 39px, 352px, 345px, '../img/icon-set.png', 'icon-interesting-video', );
$icon-knopka-name: 'icon-knopka';
$icon-knopka-x: 288px;
$icon-knopka-y: 189px;
$icon-knopka-offset-x: -288px;
$icon-knopka-offset-y: -189px;
$icon-knopka-width: 32px;
$icon-knopka-height: 32px;
$icon-knopka-total-width: 352px;
$icon-knopka-total-height: 345px;
$icon-knopka-image: '../img/icon-set.png';
$icon-knopka: (288px, 189px, -288px, -189px, 32px, 32px, 352px, 345px, '../img/icon-set.png', 'icon-knopka', );
$icon-lidgen-name: 'icon-lidgen';
$icon-lidgen-x: 0px;
$icon-lidgen-y: 135px;
$icon-lidgen-offset-x: 0px;
$icon-lidgen-offset-y: -135px;
$icon-lidgen-width: 48px;
$icon-lidgen-height: 49px;
$icon-lidgen-total-width: 352px;
$icon-lidgen-total-height: 345px;
$icon-lidgen-image: '../img/icon-set.png';
$icon-lidgen: (0px, 135px, 0px, -135px, 48px, 49px, 352px, 345px, '../img/icon-set.png', 'icon-lidgen', );
$icon-lm-1-sm-name: 'icon-lm-1-sm';
$icon-lm-1-sm-x: 253px;
$icon-lm-1-sm-y: 228px;
$icon-lm-1-sm-offset-x: -253px;
$icon-lm-1-sm-offset-y: -228px;
$icon-lm-1-sm-width: 17px;
$icon-lm-1-sm-height: 14px;
$icon-lm-1-sm-total-width: 352px;
$icon-lm-1-sm-total-height: 345px;
$icon-lm-1-sm-image: '../img/icon-set.png';
$icon-lm-1-sm: (253px, 228px, -253px, -228px, 17px, 14px, 352px, 345px, '../img/icon-set.png', 'icon-lm-1-sm', );
$icon-lm-1-name: 'icon-lm-1';
$icon-lm-1-x: 120px;
$icon-lm-1-y: 228px;
$icon-lm-1-offset-x: -120px;
$icon-lm-1-offset-y: -228px;
$icon-lm-1-width: 32px;
$icon-lm-1-height: 28px;
$icon-lm-1-total-width: 352px;
$icon-lm-1-total-height: 345px;
$icon-lm-1-image: '../img/icon-set.png';
$icon-lm-1: (120px, 228px, -120px, -228px, 32px, 28px, 352px, 345px, '../img/icon-set.png', 'icon-lm-1', );
$icon-lm-2-sm-name: 'icon-lm-2-sm';
$icon-lm-2-sm-x: 270px;
$icon-lm-2-sm-y: 228px;
$icon-lm-2-sm-offset-x: -270px;
$icon-lm-2-sm-offset-y: -228px;
$icon-lm-2-sm-width: 15px;
$icon-lm-2-sm-height: 14px;
$icon-lm-2-sm-total-width: 352px;
$icon-lm-2-sm-total-height: 345px;
$icon-lm-2-sm-image: '../img/icon-set.png';
$icon-lm-2-sm: (270px, 228px, -270px, -228px, 15px, 14px, 352px, 345px, '../img/icon-set.png', 'icon-lm-2-sm', );
$icon-lm-2-name: 'icon-lm-2';
$icon-lm-2-x: 323px;
$icon-lm-2-y: 30px;
$icon-lm-2-offset-x: -323px;
$icon-lm-2-offset-y: -30px;
$icon-lm-2-width: 28px;
$icon-lm-2-height: 28px;
$icon-lm-2-total-width: 352px;
$icon-lm-2-total-height: 345px;
$icon-lm-2-image: '../img/icon-set.png';
$icon-lm-2: (323px, 30px, -323px, -30px, 28px, 28px, 352px, 345px, '../img/icon-set.png', 'icon-lm-2', );
$icon-lm-3-sm-name: 'icon-lm-3-sm';
$icon-lm-3-sm-x: 177px;
$icon-lm-3-sm-y: 266px;
$icon-lm-3-sm-offset-x: -177px;
$icon-lm-3-sm-offset-y: -266px;
$icon-lm-3-sm-width: 15px;
$icon-lm-3-sm-height: 14px;
$icon-lm-3-sm-total-width: 352px;
$icon-lm-3-sm-total-height: 345px;
$icon-lm-3-sm-image: '../img/icon-set.png';
$icon-lm-3-sm: (177px, 266px, -177px, -266px, 15px, 14px, 352px, 345px, '../img/icon-set.png', 'icon-lm-3-sm', );
$icon-lm-3-name: 'icon-lm-3';
$icon-lm-3-x: 323px;
$icon-lm-3-y: 58px;
$icon-lm-3-offset-x: -323px;
$icon-lm-3-offset-y: -58px;
$icon-lm-3-width: 29px;
$icon-lm-3-height: 26px;
$icon-lm-3-total-width: 352px;
$icon-lm-3-total-height: 345px;
$icon-lm-3-image: '../img/icon-set.png';
$icon-lm-3: (323px, 58px, -323px, -58px, 29px, 26px, 352px, 345px, '../img/icon-set.png', 'icon-lm-3', );
$icon-lm-4-sm-name: 'icon-lm-4-sm';
$icon-lm-4-sm-x: 121px;
$icon-lm-4-sm-y: 114px;
$icon-lm-4-sm-offset-x: -121px;
$icon-lm-4-sm-offset-y: -114px;
$icon-lm-4-sm-width: 15px;
$icon-lm-4-sm-height: 15px;
$icon-lm-4-sm-total-width: 352px;
$icon-lm-4-sm-total-height: 345px;
$icon-lm-4-sm-image: '../img/icon-set.png';
$icon-lm-4-sm: (121px, 114px, -121px, -114px, 15px, 15px, 352px, 345px, '../img/icon-set.png', 'icon-lm-4-sm', );
$icon-lm-4-name: 'icon-lm-4';
$icon-lm-4-x: 103px;
$icon-lm-4-y: 266px;
$icon-lm-4-offset-x: -103px;
$icon-lm-4-offset-y: -266px;
$icon-lm-4-width: 30px;
$icon-lm-4-height: 29px;
$icon-lm-4-total-width: 352px;
$icon-lm-4-total-height: 345px;
$icon-lm-4-image: '../img/icon-set.png';
$icon-lm-4: (103px, 266px, -103px, -266px, 30px, 29px, 352px, 345px, '../img/icon-set.png', 'icon-lm-4', );
$icon-lm-5-sm-name: 'icon-lm-5-sm';
$icon-lm-5-sm-x: 121px;
$icon-lm-5-sm-y: 99px;
$icon-lm-5-sm-offset-x: -121px;
$icon-lm-5-sm-offset-y: -99px;
$icon-lm-5-sm-width: 15px;
$icon-lm-5-sm-height: 15px;
$icon-lm-5-sm-total-width: 352px;
$icon-lm-5-sm-total-height: 345px;
$icon-lm-5-sm-image: '../img/icon-set.png';
$icon-lm-5-sm: (121px, 99px, -121px, -99px, 15px, 15px, 352px, 345px, '../img/icon-set.png', 'icon-lm-5-sm', );
$icon-lm-5-name: 'icon-lm-5';
$icon-lm-5-x: 323px;
$icon-lm-5-y: 0px;
$icon-lm-5-offset-x: -323px;
$icon-lm-5-offset-y: 0px;
$icon-lm-5-width: 29px;
$icon-lm-5-height: 30px;
$icon-lm-5-total-width: 352px;
$icon-lm-5-total-height: 345px;
$icon-lm-5-image: '../img/icon-set.png';
$icon-lm-5: (323px, 0px, -323px, 0px, 29px, 30px, 352px, 345px, '../img/icon-set.png', 'icon-lm-5', );
$icon-lm-6-sm-name: 'icon-lm-6-sm';
$icon-lm-6-sm-x: 22px;
$icon-lm-6-sm-y: 295px;
$icon-lm-6-sm-offset-x: -22px;
$icon-lm-6-sm-offset-y: -295px;
$icon-lm-6-sm-width: 12px;
$icon-lm-6-sm-height: 15px;
$icon-lm-6-sm-total-width: 352px;
$icon-lm-6-sm-total-height: 345px;
$icon-lm-6-sm-image: '../img/icon-set.png';
$icon-lm-6-sm: (22px, 295px, -22px, -295px, 12px, 15px, 352px, 345px, '../img/icon-set.png', 'icon-lm-6-sm', );
$icon-lm-6-name: 'icon-lm-6';
$icon-lm-6-x: 323px;
$icon-lm-6-y: 84px;
$icon-lm-6-offset-x: -323px;
$icon-lm-6-offset-y: -84px;
$icon-lm-6-width: 23px;
$icon-lm-6-height: 29px;
$icon-lm-6-total-width: 352px;
$icon-lm-6-total-height: 345px;
$icon-lm-6-image: '../img/icon-set.png';
$icon-lm-6: (323px, 84px, -323px, -84px, 23px, 29px, 352px, 345px, '../img/icon-set.png', 'icon-lm-6', );
$icon-lm-7-sm-name: 'icon-lm-7-sm';
$icon-lm-7-sm-x: 230px;
$icon-lm-7-sm-y: 206px;
$icon-lm-7-sm-offset-x: -230px;
$icon-lm-7-sm-offset-y: -206px;
$icon-lm-7-sm-width: 16px;
$icon-lm-7-sm-height: 16px;
$icon-lm-7-sm-total-width: 352px;
$icon-lm-7-sm-total-height: 345px;
$icon-lm-7-sm-image: '../img/icon-set.png';
$icon-lm-7-sm: (230px, 206px, -230px, -206px, 16px, 16px, 352px, 345px, '../img/icon-set.png', 'icon-lm-7-sm', );
$icon-lm-7-name: 'icon-lm-7';
$icon-lm-7-x: 288px;
$icon-lm-7-y: 221px;
$icon-lm-7-offset-x: -288px;
$icon-lm-7-offset-y: -221px;
$icon-lm-7-width: 32px;
$icon-lm-7-height: 30px;
$icon-lm-7-total-width: 352px;
$icon-lm-7-total-height: 345px;
$icon-lm-7-image: '../img/icon-set.png';
$icon-lm-7: (288px, 221px, -288px, -221px, 32px, 30px, 352px, 345px, '../img/icon-set.png', 'icon-lm-7', );
$icon-lm-8-sm-name: 'icon-lm-8-sm';
$icon-lm-8-sm-x: 288px;
$icon-lm-8-sm-y: 251px;
$icon-lm-8-sm-offset-x: -288px;
$icon-lm-8-sm-offset-y: -251px;
$icon-lm-8-sm-width: 16px;
$icon-lm-8-sm-height: 15px;
$icon-lm-8-sm-total-width: 352px;
$icon-lm-8-sm-total-height: 345px;
$icon-lm-8-sm-image: '../img/icon-set.png';
$icon-lm-8-sm: (288px, 251px, -288px, -251px, 16px, 15px, 352px, 345px, '../img/icon-set.png', 'icon-lm-8-sm', );
$icon-lm-8-name: 'icon-lm-8';
$icon-lm-8-x: 39px;
$icon-lm-8-y: 266px;
$icon-lm-8-offset-x: -39px;
$icon-lm-8-offset-y: -266px;
$icon-lm-8-width: 32px;
$icon-lm-8-height: 29px;
$icon-lm-8-total-width: 352px;
$icon-lm-8-total-height: 345px;
$icon-lm-8-image: '../img/icon-set.png';
$icon-lm-8: (39px, 266px, -39px, -266px, 32px, 29px, 352px, 345px, '../img/icon-set.png', 'icon-lm-8', );
$icon-lm-9-sm-name: 'icon-lm-9-sm';
$icon-lm-9-sm-x: 304px;
$icon-lm-9-sm-y: 251px;
$icon-lm-9-sm-offset-x: -304px;
$icon-lm-9-sm-offset-y: -251px;
$icon-lm-9-sm-width: 16px;
$icon-lm-9-sm-height: 15px;
$icon-lm-9-sm-total-width: 352px;
$icon-lm-9-sm-total-height: 345px;
$icon-lm-9-sm-image: '../img/icon-set.png';
$icon-lm-9-sm: (304px, 251px, -304px, -251px, 16px, 15px, 352px, 345px, '../img/icon-set.png', 'icon-lm-9-sm', );
$icon-lm-9-name: 'icon-lm-9';
$icon-lm-9-x: 71px;
$icon-lm-9-y: 266px;
$icon-lm-9-offset-x: -71px;
$icon-lm-9-offset-y: -266px;
$icon-lm-9-width: 32px;
$icon-lm-9-height: 29px;
$icon-lm-9-total-width: 352px;
$icon-lm-9-total-height: 345px;
$icon-lm-9-image: '../img/icon-set.png';
$icon-lm-9: (71px, 266px, -71px, -266px, 32px, 29px, 352px, 345px, '../img/icon-set.png', 'icon-lm-9', );
$icon-lm-closed-name: 'icon-lm-closed';
$icon-lm-closed-x: 186px;
$icon-lm-closed-y: 68px;
$icon-lm-closed-offset-x: -186px;
$icon-lm-closed-offset-y: -68px;
$icon-lm-closed-width: 9px;
$icon-lm-closed-height: 8px;
$icon-lm-closed-total-width: 352px;
$icon-lm-closed-total-height: 345px;
$icon-lm-closed-image: '../img/icon-set.png';
$icon-lm-closed: (186px, 68px, -186px, -68px, 9px, 8px, 352px, 345px, '../img/icon-set.png', 'icon-lm-closed', );
$icon-lm-open-name: 'icon-lm-open';
$icon-lm-open-x: 186px;
$icon-lm-open-y: 60px;
$icon-lm-open-offset-x: -186px;
$icon-lm-open-offset-y: -60px;
$icon-lm-open-width: 9px;
$icon-lm-open-height: 8px;
$icon-lm-open-total-width: 352px;
$icon-lm-open-total-height: 345px;
$icon-lm-open-image: '../img/icon-set.png';
$icon-lm-open: (186px, 60px, -186px, -60px, 9px, 8px, 352px, 345px, '../img/icon-set.png', 'icon-lm-open', );
$icon-main-form-name: 'icon-main-form';
$icon-main-form-x: 0px;
$icon-main-form-y: 0px;
$icon-main-form-offset-x: 0px;
$icon-main-form-offset-y: 0px;
$icon-main-form-width: 71px;
$icon-main-form-height: 72px;
$icon-main-form-total-width: 352px;
$icon-main-form-total-height: 345px;
$icon-main-form-image: '../img/icon-set.png';
$icon-main-form: (0px, 0px, 0px, 0px, 71px, 72px, 352px, 345px, '../img/icon-set.png', 'icon-main-form', );
$icon-marker-gray-name: 'icon-marker-gray';
$icon-marker-gray-x: 230px;
$icon-marker-gray-y: 184px;
$icon-marker-gray-offset-x: -230px;
$icon-marker-gray-offset-y: -184px;
$icon-marker-gray-width: 16px;
$icon-marker-gray-height: 22px;
$icon-marker-gray-total-width: 352px;
$icon-marker-gray-total-height: 345px;
$icon-marker-gray-image: '../img/icon-set.png';
$icon-marker-gray: (230px, 184px, -230px, -184px, 16px, 22px, 352px, 345px, '../img/icon-set.png', 'icon-marker-gray', );
$icon-marker-orange-name: 'icon-marker-orange';
$icon-marker-orange-x: 19px;
$icon-marker-orange-y: 319px;
$icon-marker-orange-offset-x: -19px;
$icon-marker-orange-offset-y: -319px;
$icon-marker-orange-width: 19px;
$icon-marker-orange-height: 25px;
$icon-marker-orange-total-width: 352px;
$icon-marker-orange-total-height: 345px;
$icon-marker-orange-image: '../img/icon-set.png';
$icon-marker-orange: (19px, 319px, -19px, -319px, 19px, 25px, 352px, 345px, '../img/icon-set.png', 'icon-marker-orange', );
$icon-newspaper-sm-name: 'icon-newspaper-sm';
$icon-newspaper-sm-x: 323px;
$icon-newspaper-sm-y: 233px;
$icon-newspaper-sm-offset-x: -323px;
$icon-newspaper-sm-offset-y: -233px;
$icon-newspaper-sm-width: 25px;
$icon-newspaper-sm-height: 24px;
$icon-newspaper-sm-total-width: 352px;
$icon-newspaper-sm-total-height: 345px;
$icon-newspaper-sm-image: '../img/icon-set.png';
$icon-newspaper-sm: (323px, 233px, -323px, -233px, 25px, 24px, 352px, 345px, '../img/icon-set.png', 'icon-newspaper-sm', );
$icon-newspaper-name: 'icon-newspaper';
$icon-newspaper-x: 0px;
$icon-newspaper-y: 72px;
$icon-newspaper-offset-x: 0px;
$icon-newspaper-offset-y: -72px;
$icon-newspaper-width: 61px;
$icon-newspaper-height: 63px;
$icon-newspaper-total-width: 352px;
$icon-newspaper-total-height: 345px;
$icon-newspaper-image: '../img/icon-set.png';
$icon-newspaper: (0px, 72px, 0px, -72px, 61px, 63px, 352px, 345px, '../img/icon-set.png', 'icon-newspaper', );
$icon-phone-gray-name: 'icon-phone-gray';
$icon-phone-gray-x: 156px;
$icon-phone-gray-y: 266px;
$icon-phone-gray-offset-x: -156px;
$icon-phone-gray-offset-y: -266px;
$icon-phone-gray-width: 21px;
$icon-phone-gray-height: 21px;
$icon-phone-gray-total-width: 352px;
$icon-phone-gray-total-height: 345px;
$icon-phone-gray-image: '../img/icon-set.png';
$icon-phone-gray: (156px, 266px, -156px, -266px, 21px, 21px, 352px, 345px, '../img/icon-set.png', 'icon-phone-gray', );
$icon-post-video-name: 'icon-post-video';
$icon-post-video-x: 138px;
$icon-post-video-y: 184px;
$icon-post-video-offset-x: -138px;
$icon-post-video-offset-y: -184px;
$icon-post-video-width: 46px;
$icon-post-video-height: 39px;
$icon-post-video-total-width: 352px;
$icon-post-video-total-height: 345px;
$icon-post-video-image: '../img/icon-set.png';
$icon-post-video: (138px, 184px, -138px, -184px, 46px, 39px, 352px, 345px, '../img/icon-set.png', 'icon-post-video', );
$icon-purse-name: 'icon-purse';
$icon-purse-x: 61px;
$icon-purse-y: 72px;
$icon-purse-offset-x: -61px;
$icon-purse-offset-y: -72px;
$icon-purse-width: 60px;
$icon-purse-height: 60px;
$icon-purse-total-width: 352px;
$icon-purse-total-height: 345px;
$icon-purse-image: '../img/icon-set.png';
$icon-purse: (61px, 72px, -61px, -72px, 60px, 60px, 352px, 345px, '../img/icon-set.png', 'icon-purse', );
$icon-red-arr-name: 'icon-red-arr';
$icon-red-arr-x: 77px;
$icon-red-arr-y: 228px;
$icon-red-arr-offset-x: -77px;
$icon-red-arr-offset-y: -228px;
$icon-red-arr-width: 43px;
$icon-red-arr-height: 28px;
$icon-red-arr-total-width: 352px;
$icon-red-arr-total-height: 345px;
$icon-red-arr-image: '../img/icon-set.png';
$icon-red-arr: (77px, 228px, -77px, -228px, 43px, 28px, 352px, 345px, '../img/icon-set.png', 'icon-red-arr', );
$icon-red-star-name: 'icon-red-star';
$icon-red-star-x: 192px;
$icon-red-star-y: 266px;
$icon-red-star-offset-x: -192px;
$icon-red-star-offset-y: -266px;
$icon-red-star-width: 14px;
$icon-red-star-height: 12px;
$icon-red-star-total-width: 352px;
$icon-red-star-total-height: 345px;
$icon-red-star-image: '../img/icon-set.png';
$icon-red-star: (192px, 266px, -192px, -266px, 14px, 12px, 352px, 345px, '../img/icon-set.png', 'icon-red-star', );
$icon-rouble-name: 'icon-rouble';
$icon-rouble-x: 0px;
$icon-rouble-y: 295px;
$icon-rouble-offset-x: 0px;
$icon-rouble-offset-y: -295px;
$icon-rouble-width: 22px;
$icon-rouble-height: 24px;
$icon-rouble-total-width: 352px;
$icon-rouble-total-height: 345px;
$icon-rouble-image: '../img/icon-set.png';
$icon-rouble: (0px, 295px, 0px, -295px, 22px, 24px, 352px, 345px, '../img/icon-set.png', 'icon-rouble', );
$icon-shester-name: 'icon-shester';
$icon-shester-x: 0px;
$icon-shester-y: 266px;
$icon-shester-offset-x: 0px;
$icon-shester-offset-y: -266px;
$icon-shester-width: 39px;
$icon-shester-height: 29px;
$icon-shester-total-width: 352px;
$icon-shester-total-height: 345px;
$icon-shester-image: '../img/icon-set.png';
$icon-shester: (0px, 266px, 0px, -266px, 39px, 29px, 352px, 345px, '../img/icon-set.png', 'icon-shester', );
$icon-sites-sm-name: 'icon-sites-sm';
$icon-sites-sm-x: 0px;
$icon-sites-sm-y: 228px;
$icon-sites-sm-offset-x: 0px;
$icon-sites-sm-offset-y: -228px;
$icon-sites-sm-width: 40px;
$icon-sites-sm-height: 38px;
$icon-sites-sm-total-width: 352px;
$icon-sites-sm-total-height: 345px;
$icon-sites-sm-image: '../img/icon-set.png';
$icon-sites-sm: (0px, 228px, 0px, -228px, 40px, 38px, 352px, 345px, '../img/icon-set.png', 'icon-sites-sm', );
$icon-sites-name: 'icon-sites';
$icon-sites-x: 95px;
$icon-sites-y: 135px;
$icon-sites-offset-x: -95px;
$icon-sites-offset-y: -135px;
$icon-sites-width: 49px;
$icon-sites-height: 46px;
$icon-sites-total-width: 352px;
$icon-sites-total-height: 345px;
$icon-sites-image: '../img/icon-set.png';
$icon-sites: (95px, 135px, -95px, -135px, 49px, 46px, 352px, 345px, '../img/icon-set.png', 'icon-sites', );
$icon-sup-1-name: 'icon-sup-1';
$icon-sup-1-x: 246px;
$icon-sup-1-y: 127px;
$icon-sup-1-offset-x: -246px;
$icon-sup-1-offset-y: -127px;
$icon-sup-1-width: 41px;
$icon-sup-1-height: 41px;
$icon-sup-1-total-width: 352px;
$icon-sup-1-total-height: 345px;
$icon-sup-1-image: '../img/icon-set.png';
$icon-sup-1: (246px, 127px, -246px, -127px, 41px, 41px, 352px, 345px, '../img/icon-set.png', 'icon-sup-1', );
$icon-sup-2-name: 'icon-sup-2';
$icon-sup-2-x: 288px;
$icon-sup-2-y: 43px;
$icon-sup-2-offset-x: -288px;
$icon-sup-2-offset-y: -43px;
$icon-sup-2-width: 35px;
$icon-sup-2-height: 42px;
$icon-sup-2-total-width: 352px;
$icon-sup-2-total-height: 345px;
$icon-sup-2-image: '../img/icon-set.png';
$icon-sup-2: (288px, 43px, -288px, -43px, 35px, 42px, 352px, 345px, '../img/icon-set.png', 'icon-sup-2', );
$icon-sup-3-name: 'icon-sup-3';
$icon-sup-3-x: 246px;
$icon-sup-3-y: 0px;
$icon-sup-3-offset-x: -246px;
$icon-sup-3-offset-y: 0px;
$icon-sup-3-width: 42px;
$icon-sup-3-height: 43px;
$icon-sup-3-total-width: 352px;
$icon-sup-3-total-height: 345px;
$icon-sup-3-image: '../img/icon-set.png';
$icon-sup-3: (246px, 0px, -246px, 0px, 42px, 43px, 352px, 345px, '../img/icon-set.png', 'icon-sup-3', );
$icon-sup-4-name: 'icon-sup-4';
$icon-sup-4-x: 246px;
$icon-sup-4-y: 43px;
$icon-sup-4-offset-x: -246px;
$icon-sup-4-offset-y: -43px;
$icon-sup-4-width: 42px;
$icon-sup-4-height: 42px;
$icon-sup-4-total-width: 352px;
$icon-sup-4-total-height: 345px;
$icon-sup-4-image: '../img/icon-set.png';
$icon-sup-4: (246px, 43px, -246px, -43px, 42px, 42px, 352px, 345px, '../img/icon-set.png', 'icon-sup-4', );
$icon-sup-5-name: 'icon-sup-5';
$icon-sup-5-x: 246px;
$icon-sup-5-y: 85px;
$icon-sup-5-offset-x: -246px;
$icon-sup-5-offset-y: -85px;
$icon-sup-5-width: 41px;
$icon-sup-5-height: 42px;
$icon-sup-5-total-width: 352px;
$icon-sup-5-total-height: 345px;
$icon-sup-5-image: '../img/icon-set.png';
$icon-sup-5: (246px, 85px, -246px, -85px, 41px, 42px, 352px, 345px, '../img/icon-set.png', 'icon-sup-5', );
$icon-sup-6-name: 'icon-sup-6';
$icon-sup-6-x: 288px;
$icon-sup-6-y: 0px;
$icon-sup-6-offset-x: -288px;
$icon-sup-6-offset-y: 0px;
$icon-sup-6-width: 35px;
$icon-sup-6-height: 43px;
$icon-sup-6-total-width: 352px;
$icon-sup-6-total-height: 345px;
$icon-sup-6-image: '../img/icon-set.png';
$icon-sup-6: (288px, 0px, -288px, 0px, 35px, 43px, 352px, 345px, '../img/icon-set.png', 'icon-sup-6', );
$icon-sup-newspaper-name: 'icon-sup-newspaper';
$icon-sup-newspaper-x: 136px;
$icon-sup-newspaper-y: 60px;
$icon-sup-newspaper-offset-x: -136px;
$icon-sup-newspaper-offset-y: -60px;
$icon-sup-newspaper-width: 50px;
$icon-sup-newspaper-height: 48px;
$icon-sup-newspaper-total-width: 352px;
$icon-sup-newspaper-total-height: 345px;
$icon-sup-newspaper-image: '../img/icon-set.png';
$icon-sup-newspaper: (136px, 60px, -136px, -60px, 50px, 48px, 352px, 345px, '../img/icon-set.png', 'icon-sup-newspaper', );
$icon-toright-red-name: 'icon-toright-red';
$icon-toright-red-x: 279px;
$icon-toright-red-y: 215px;
$icon-toright-red-offset-x: -279px;
$icon-toright-red-offset-y: -215px;
$icon-toright-red-width: 8px;
$icon-toright-red-height: 10px;
$icon-toright-red-total-width: 352px;
$icon-toright-red-total-height: 345px;
$icon-toright-red-image: '../img/icon-set.png';
$icon-toright-red: (279px, 215px, -279px, -215px, 8px, 10px, 352px, 345px, '../img/icon-set.png', 'icon-toright-red', );
$icon-toright-name: 'icon-toright';
$icon-toright-x: 281px;
$icon-toright-y: 168px;
$icon-toright-offset-x: -281px;
$icon-toright-offset-y: -168px;
$icon-toright-width: 7px;
$icon-toright-height: 10px;
$icon-toright-total-width: 352px;
$icon-toright-total-height: 345px;
$icon-toright-image: '../img/icon-set.png';
$icon-toright: (281px, 168px, -281px, -168px, 7px, 10px, 352px, 345px, '../img/icon-set.png', 'icon-toright', );
$icon-triangle-name: 'icon-triangle';
$icon-triangle-x: 186px;
$icon-triangle-y: 76px;
$icon-triangle-offset-x: -186px;
$icon-triangle-offset-y: -76px;
$icon-triangle-width: 8px;
$icon-triangle-height: 6px;
$icon-triangle-total-width: 352px;
$icon-triangle-total-height: 345px;
$icon-triangle-image: '../img/icon-set.png';
$icon-triangle: (186px, 76px, -186px, -76px, 8px, 6px, 352px, 345px, '../img/icon-set.png', 'icon-triangle', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 323px;
$icon-twitter-y: 136px;
$icon-twitter-offset-x: -323px;
$icon-twitter-offset-y: -136px;
$icon-twitter-width: 28px;
$icon-twitter-height: 23px;
$icon-twitter-total-width: 352px;
$icon-twitter-total-height: 345px;
$icon-twitter-image: '../img/icon-set.png';
$icon-twitter: (323px, 136px, -323px, -136px, 28px, 23px, 352px, 345px, '../img/icon-set.png', 'icon-twitter', );
$icon-urgently-name: 'icon-urgently';
$icon-urgently-x: 0px;
$icon-urgently-y: 319px;
$icon-urgently-offset-x: 0px;
$icon-urgently-offset-y: -319px;
$icon-urgently-width: 19px;
$icon-urgently-height: 26px;
$icon-urgently-total-width: 352px;
$icon-urgently-total-height: 345px;
$icon-urgently-image: '../img/icon-set.png';
$icon-urgently: (0px, 319px, 0px, -319px, 19px, 26px, 352px, 345px, '../img/icon-set.png', 'icon-urgently', );
$icon-vacancy-person-name: 'icon-vacancy-person';
$icon-vacancy-person-x: 323px;
$icon-vacancy-person-y: 184px;
$icon-vacancy-person-offset-x: -323px;
$icon-vacancy-person-offset-y: -184px;
$icon-vacancy-person-width: 25px;
$icon-vacancy-person-height: 25px;
$icon-vacancy-person-total-width: 352px;
$icon-vacancy-person-total-height: 345px;
$icon-vacancy-person-image: '../img/icon-set.png';
$icon-vacancy-person: (323px, 184px, -323px, -184px, 25px, 25px, 352px, 345px, '../img/icon-set.png', 'icon-vacancy-person', );
$icon-vacancy-name: 'icon-vacancy';
$icon-vacancy-x: 323px;
$icon-vacancy-y: 113px;
$icon-vacancy-offset-x: -323px;
$icon-vacancy-offset-y: -113px;
$icon-vacancy-width: 28px;
$icon-vacancy-height: 23px;
$icon-vacancy-total-width: 352px;
$icon-vacancy-total-height: 345px;
$icon-vacancy-image: '../img/icon-set.png';
$icon-vacancy: (323px, 113px, -323px, -113px, 28px, 23px, 352px, 345px, '../img/icon-set.png', 'icon-vacancy', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 152px;
$icon-vk-y: 228px;
$icon-vk-offset-x: -152px;
$icon-vk-offset-y: -228px;
$icon-vk-width: 39px;
$icon-vk-height: 22px;
$icon-vk-total-width: 352px;
$icon-vk-total-height: 345px;
$icon-vk-image: '../img/icon-set.png';
$icon-vk: (152px, 228px, -152px, -228px, 39px, 22px, 352px, 345px, '../img/icon-set.png', 'icon-vk', );
$icon-white-star-name: 'icon-white-star - копия';
$icon-white-star-x: 206px;
$icon-white-star-y: 266px;
$icon-white-star-offset-x: -206px;
$icon-white-star-offset-y: -266px;
$icon-white-star-width: 14px;
$icon-white-star-height: 12px;
$icon-white-star-total-width: 352px;
$icon-white-star-total-height: 345px;
$icon-white-star-image: '../img/icon-set.png';
$icon-white-star-: (206px, 266px, -206px, -266px, 14px, 12px, 352px, 345px, '../img/icon-set.png', 'icon-white-star - копия', );
$icon-white-star-name: 'icon-white-star';
$icon-white-star-x: 220px;
$icon-white-star-y: 266px;
$icon-white-star-offset-x: -220px;
$icon-white-star-offset-y: -266px;
$icon-white-star-width: 14px;
$icon-white-star-height: 12px;
$icon-white-star-total-width: 352px;
$icon-white-star-total-height: 345px;
$icon-white-star-image: '../img/icon-set.png';
$icon-white-star: (220px, 266px, -220px, -266px, 14px, 12px, 352px, 345px, '../img/icon-set.png', 'icon-white-star', );
$icon-window-name: 'icon-window';
$icon-window-x: 44px;
$icon-window-y: 184px;
$icon-window-offset-x: -44px;
$icon-window-offset-y: -184px;
$icon-window-width: 47px;
$icon-window-height: 41px;
$icon-window-total-width: 352px;
$icon-window-total-height: 345px;
$icon-window-image: '../img/icon-set.png';
$icon-window: (44px, 184px, -44px, -184px, 47px, 41px, 352px, 345px, '../img/icon-set.png', 'icon-window', );
$icon-ya-name: 'icon-ya';
$icon-ya-x: 133px;
$icon-ya-y: 266px;
$icon-ya-offset-x: -133px;
$icon-ya-offset-y: -266px;
$icon-ya-width: 23px;
$icon-ya-height: 23px;
$icon-ya-total-width: 352px;
$icon-ya-total-height: 345px;
$icon-ya-image: '../img/icon-set.png';
$icon-ya: (133px, 266px, -133px, -266px, 23px, 23px, 352px, 345px, '../img/icon-set.png', 'icon-ya', );
$icon-yandex-name: 'icon-yandex';
$icon-yandex-x: 196px;
$icon-yandex-y: 45px;
$icon-yandex-offset-x: -196px;
$icon-yandex-offset-y: -45px;
$icon-yandex-width: 47px;
$icon-yandex-height: 47px;
$icon-yandex-total-width: 352px;
$icon-yandex-total-height: 345px;
$icon-yandex-image: '../img/icon-set.png';
$icon-yandex: (196px, 45px, -196px, -45px, 47px, 47px, 352px, 345px, '../img/icon-set.png', 'icon-yandex', );
$spritesheet-width: 352px;
$spritesheet-height: 345px;
$spritesheet-image: '../img/icon-set.png';
$spritesheet-sprites: ($icon-100pgar, $icon-adobe, $icon-akiwa, $icon-arr-toright, $icon-audits, $icon-best-blog, $icon-client, $icon-clip, $icon-copywrighting, $icon-corpport, $icon-danger, $icon-design, $icon-eye-white, $icon-eye, $icon-fb, $icon-freeanaliz, $icon-galka-gray-sm, $icon-galka-white-sm, $icon-galka, $icon-glob, $icon-google, $icon-gplus, $icon-graph, $icon-grow, $icon-in, $icon-info-bold, $icon-info, $icon-inst, $icon-interesting-video, $icon-knopka, $icon-lidgen, $icon-lm-1-sm, $icon-lm-1, $icon-lm-2-sm, $icon-lm-2, $icon-lm-3-sm, $icon-lm-3, $icon-lm-4-sm, $icon-lm-4, $icon-lm-5-sm, $icon-lm-5, $icon-lm-6-sm, $icon-lm-6, $icon-lm-7-sm, $icon-lm-7, $icon-lm-8-sm, $icon-lm-8, $icon-lm-9-sm, $icon-lm-9, $icon-lm-closed, $icon-lm-open, $icon-main-form, $icon-marker-gray, $icon-marker-orange, $icon-newspaper-sm, $icon-newspaper, $icon-phone-gray, $icon-post-video, $icon-purse, $icon-red-arr, $icon-red-star, $icon-rouble, $icon-shester, $icon-sites-sm, $icon-sites, $icon-sup-1, $icon-sup-2, $icon-sup-3, $icon-sup-4, $icon-sup-5, $icon-sup-6, $icon-sup-newspaper, $icon-toright-red, $icon-toright, $icon-triangle, $icon-twitter, $icon-urgently, $icon-vacancy-person, $icon-vacancy, $icon-vk, $icon-white-star-, $icon-white-star, $icon-window, $icon-ya, $icon-yandex, );
$spritesheet: (352px, 345px, '../img/icon-set.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
