.achivements__item
	.achivements__col.achivements__col--left
		.achivements__row
			.achivements__ico
				i.icon.icon-client
				span.name Клиент
			.achivements__text
				p.achivements__name Союз 32
				p.achivements__desc Стоматологическая клиника «Союз» специализируется исключительно на оказании стоматологических услуг взрослому и детскому населению в Брянске, а также зуботехническом производстве.
		.achivements__row
			.achivements__ico.va-middle
				i.icon.icon-sites-sm
				span.name Сайт
			.achivements__text
				a(href="http://www.soyz32.ru").achivements__link www.soyz32.ru
				img.achivements__logo(src="img/souz-logo.png", alt="")
		.achivements__row
			.achivements__ico
				i.icon.icon-shester
			.achivements__text
				p Предоставленные услуги
				.achivements__services
					.label.label--green Аудит сайта
					.label.label--red Продвижение сайта
					.label.label--red Сопровождение сайта
	.achivements__col.achivements__col--right
		.achivements__row
			.achivements__ico.va-middle
				i.icon.icon-grow
			.achivements__text.achivements__city
				span.name Брянск
				.label.label--black <span class="thin">Продвижение по</span> <b>72 запросам</b>
		.achivements___row.position
			.achivements__ico.va-middle
				i.icon.icon-yandex
			.achivements__text.va-middle
				.position__row.clearfix
					span.position__word Отбеливание зубов
					span.position__pos 1
				.position__row.clearfix
					span.position__word Стоматологическая клиника
					span.position__pos 2
				.position__row.clearfix
					span.position__word Стоматологические клиники в брянске
					span.position__pos 5
					
		// main.js:79
		.achivement__row.graph
			img(src="img/graph-souz.png", alt="")