aside.best-menu.mb-30
	.best-menu__header 
		span.icon.icon-best-blog
		span Лучшее в блоге
	ul
		li.best-menu__item
			a(href="#")
				span.title 10 способов защитить текст своего сайта от копирования
			.best-menu__watched
				span.icon.icon-eye
				span 999
		li.best-menu__item
			a(href="#")
				span.title Как выглядит естественная ссылка. 10 признаков
			.best-menu__watched
				span.icon.icon-eye
				span 999
		li.best-menu__item
			a(href="#")
				span.title 200 основных факторов ранжирования в Google
			.best-menu__watched
				span.icon.icon-eye
				span 999
		li.best-menu__item
			a(href="#")
				span.title Большие подборки инструментов для интернет-маркетинга и SEO
			.best-menu__watched
				span.icon.icon-eye
				span 999
		li.best-menu__item.closed
			a(href="#")
				span.title 100 идей для улучшения вашего сайта
			.best-menu__watched
				span.icon.icon-eye
				span 999
		li.best-menu__item
			a(href="#")
				span.title 50 лучших инструментов для работы с семантическим ядром
			.best-menu__watched
				span.icon.icon-eye
				span 999
		li.best-menu__item
			a(href="#")
				span.title 30 полезных инструментов для SEO-аналитики
			.best-menu__watched
				span.icon.icon-eye
				span 999






