//interesting
.interesting
	.interesting__list.row
		.col-lg-4.col-sm-6
			.interesting__item.interesting__item--dark.clearfix
				.interesting__left.clearfix
					.interesting__header.fullwidth-img
						img(src="img/interesting-seo.jpg", alt="").responsive-img
					.interesting__body
						span.isimportant Важно знать
						a(href="#").interesting__name Какая цель у<br> SEO - копирайтинга?
						p Поняв, что такое<br> SEO-копирайтинг, мы легко можем назвать его основные цели и задачи...
				.interesting__author
					.interesting__author-image
						img(src="img/interesting-author1.jpg", alt="")
					.interesting__author-info
						.name Светлана Павленко
						.spec Копирайтер
		.col-lg-4.col-sm-6
			.interesting__item.clearfix
				.interesting__left.clearfix
					.interesting__header
						img(src="img/interesting-time.png", alt="").responsive-img
					.interesting__body
						a(href="#").interesting__name За сколько времени продвигается сайт?
						p Поняв, что такое<br> SEO-копирайтинг, мы легко можем назвать его основные цели и задачи...
				.interesting__author
					.interesting__author-image
						img(src="img/interesting-author2.jpg", alt="")
					.interesting__author-info
						.name Александр Балаганов
						.spec Руководитель
		.col-lg-4.col-sm-6
			.interesting__item.clearfix
				.interesting__video-top <!-- Появляется у видео блоков -->
					span.icon.icon-interesting-video
					p Полезное видео
				.interesting__left.clearfix
					.interesting__header.fullwidth-img
						img(src="img/interesting-video.jpg", alt="").responsive-img
				.interesting__body
					a(href="#").interesting__name Введение в  SEO и продвижение сайтов
//interesting end