aside.left-menu.mb-30
	button.left-menu__item.left-menu__responsive-button Услуги
	ul
		li.left-menu__item
			a(href="prodvijenie.html")
				span.icon-wrap: i.icon.icon-lm-1
				span.title Продвижение сайтов
		li.left-menu__item
			a(href="inner.html")
				span.icon-wrap: i.icon.icon-lm-2
				span.title Лидогенерация
		li.left-menu__item
			a(href="inner.html")
				span.icon-wrap: i.icon.icon-lm-3
				span.title Интернет реклама
		li.left-menu__item
			a(href="inner.html")
				span.icon-wrap: i.icon.icon-lm-4
				span.title Веб-аналитики
		li.left-menu__item.closed
			a(href="inner.html")
				span.icon-wrap: i.icon.icon-lm-5
				span.title Аудиты
			ul.left-menu__submenu
				li: a(href="inner.html") А/Б тестирование
				li: a(href="inner.html") Seo аудит
				li: a(href="inner.html") Юзабилити аудит
		li.left-menu__item
			a(href="inner.html")
				span.icon-wrap: i.icon.icon-lm-6
				span.title Копирайтиг
		li.left-menu__item
			a(href="inner.html")
				span.icon-wrap: i.icon.icon-lm-7
				span.title Создание сайтов
		li.left-menu__item
			a(href="inner.html")
				span.icon-wrap: i.icon.icon-lm-8
				span.title Корпоративные порталы
		li.left-menu__item
			a(href="design-big.html")
				span.icon-wrap: i.icon.icon-lm-9
				span.title Дизайн