.subscribe.clearfix
	.subscribe__left
		p.title Оформить подписку
		span.desc Получайте уведомления о новостях и акциях <br> себе на почту
	.subscribe__right
		form(action="#")
			input(type="text" placeholder="Ваше имя").subscribe__input
			input(type="text" placeholder="Email").subscribe__input
			input(type="submit" value="Подписаться").subscribe__submit