.subscribe.subscribe--small.clearfix
		form(action="#").blocks-justify
			.column: input(type="text" placeholder="Ваше имя").subscribe__input
			.column: input(type="text" placeholder="Email").subscribe__input
			.column: input(type="submit" value="Подписаться на новости").subscribe__submit