extends _template

block main

	.breadcumbs
		.container
			ul
				li: a(href="#") Главная 
				li: a(href="#") Типовая страница 
	.inner__main
		.container
			.row
				.col-md-12
					.blog__main-image
						img(src="img/blog-main-image.jpg", alt="")
						.blog__header 
							h1 Разработка сайта – секреты<br> выбора исполнителя
							.blog__watched
								span.icon.icon-eye-white
								span 129
						.blog__author
							.interesting__author-image
								img(src="img/interesting-author1.jpg", alt="")
							.interesting__author-info
								.name Светлана Павленко
								.spec Копирайтер
				.col-md-3
					include includes/best-menu
					include includes/left-menu
				.col-md-9
					.main__content.blog__content
						.mb-30
							.social-share.clearfix
								span Поделиться
								img(src="img/social-share.png", alt="").fl-right.img-responsive
							
						.mb-60
							p: big Прежде чем искать разработчика, нужно провести обязательную самостоятельную работу – разобраться с задачами, которые должен решать ваш будущий ресурс, определить целевую аудиторию и ее потребности.
							p Изучайте сайты конкурентов – они помогут вам продумать структуру, сервисы и контент вашего ресурса. Обязательно посмотрите, как устроены веб-представительства западных компаний – лидеров вашей отрасли. Делая пометки и обобщая результаты своего исследования, вы по сути создаете концепцию будущего сайта.
							p.marker: span Изучайте сайты конкурентов – они помогут вам продумать структуру, сервисы и контент вашего ресурса.
							p Если ваш сайт – весьма серьезный проект и от него зависит развитие вашего бизнеса, не стоит экономить на предпроектном исследовании. Поручите его <a href="#">специалистам</a>, которые помогут вам проанализировать рынок, и по результатам исследования спланируют информационную архитектуру, функционал, сервисы, желаемые сценарии поведения посетителя на сайте и многое другое.
							h2 Как выбрать исполнителя
							p Безусловно, для вас будут иметь значение опыт компании-разработчика, цена сайта и сроки исполнения. Но вместе с тем обратите внимание на дополнительные критерии, которые помогут вам точнее оценить профессионализм будущего веб-подрядчика и соответственно повысить эффективность вложений в собственный сайт.
							p На сайте вашего будущего исполнителя вам должно быть, прежде всего, комфортно. Вы понимаете, куда "кликнуть", чтобы получить информацию, вам нравится дизайн, вы легко читаете тексты во всех разделах и оцениваете их информативность, сайт быстро загружается и правильно работает во всех браузерах. Также очевидно, что на сайте веб-разработчиков абсолютно недопустимы ошибки, «глюки» и неудобные сервисы.
							h2 Зачем нужно портфолио
							p Очевидно, что создание и разработка сайтов – деятельность, в которой первостепенное значение имеет опыт исполнителя. Поэтому не покупайтесь на портфолио, в котором представлено 10-15 работ с комментарием «мы отобрали только самое лучшее». Количество и качество работ – довольно точный показатель востребованности и опыта веб-студии. Еще один маленький совет – оценивайте не картинки в портфолио, а непосредственно рабочие сайты клиентов, размещенные в Интернете. Кстати, обратите внимание, есть ли на этих сайтах актуальная ссылка на компанию-разработчика. К сожалению, еще попадаются веб-студии, приписывающие себе создание сайтов, изготовленных другими компаниями.
							.blog__labels
								.label.label--gray создание сайтов
								.label.label--gray разработка
								.label.label--gray портфолио
								.label.label--gray сайт
								.label.label--gray раскрутка
							hr
							h2 Прочитайте еще
							.row.clearfix.mb-30
								.col-md-6
									.blog-post
										.blog-post__body
											.blog-post__image.ta-center
												img(src="img/blog-post-image-small.png", alt="")
											.blog-post__name О работе новичков на биржах уникального контента
											.blog-post__desc 
												|Работать на биржах уникального контента с каждым годом все сложнее и сложнее. Число копирайтеров и рерайтеров, стремящихся заработать... 
												a(href="#") Читать
										.blog-post__footer
											.blog-post__author
												.interesting__author-image
													img(src="img/interesting-author1.jpg", alt="")
												.interesting__author-info
													.name Светлана Павленко
													.spec Копирайтер
											.blog-post__watched
												span.icon.icon-eye
												span 999
								.col-md-6
									.blog-post
										.blog-post__body(style="background:url('img/post-blog-image-big.jpg')").mask
											.blog-post__image
												img(src="img/post-blog-image-xs.png", alt="")
											.blog-post__name Кем и где можно работать в Интернет?
											.blog-post__desc 
												|Сегодня ни для кого не секрет, что Интернет дает большие возможности пользователям. Но не все могут ими воспользоваться из-за изобилия информации...
												a(href="#") Читать
										.blog-post__footer
											.blog-post__author
												.interesting__author-image.ta-center
													img(src="img/interesting-author1.jpg", alt="")
												.interesting__author-info
													.name Светлана Павленко
													.spec Копирайтер.
											.blog-post__watched
												span.icon.icon-eye
												span 999
								.col-md-12
									a.blog__more-post(href="#") Загрузка статей
							include includes/subscribe-small
							.text-section.border-red.text-section--question.blocks-justify
								.column.first
									span Есть вопросы ?
								.column
									.main-header__phone.red 8 800 200 47 80
									span.phone-desc (Бесплатно по россии)
								.column 
									span или
								.column 
									a(href="#").btn.btn--red.big Закажите звонок







