extends _template

block main
	.book-main
		.container
			.breadcumbs
				ul
					li: a(href="#") Главная 
					li: a(href="#") Типовая страница 
		.inner__main.nopadding
			.container
				.row
					
					.col-sm-7.right
						img(src="img/book/akiwa-book.png", alt="").img-responsive
					.col-sm-5.left
						i.icm.icon-blah
						p Книга о современном маркетинге <br> котораязаставит пересмотреть Ваш <br> взгляд на продвижение сайтов и <br> рекламу. 
						a(href="#").btn.btn--green
							i.icm.icon-b-lines
							span Содержание
						hr
						strong Получите книгу <br> бесплатно
						form(action="#").book-type
							label.green-radio
								input(type="radio" name="book_type")
								.dt
									.dtc: span.icon
									.dtc Электронная книга
							label.green-radio
								input(type="radio" name="book_type")
								.dt
									.dtc: span.icon
									.dtc Печатная версия книги
							br
							input(type="submit" value="Заказать книгу").btn.btn--red.big
	.book-content-section-1
		.container
			.ba-content-section.sections-border
				.ba-section-icon
					.icon: i.icm.icon-b-book
					h2 О чем эта книга ?
					p.big Рассматриваются возможности использования Интернета в системе модернизационного маркетинга предприятия сферы сервиса. По мнению авторов, рост пользователей Интернета связан с развитием специфической отрасли сферы услуг электронной коммерции, которая позволяет существенно ускорить и удешевить трансакции.
				.ba-section-icon
					.icon
						.ba-author
							.img
								img(src="img/big-article/author-photo.png", alt="")
							.text
								.name Алексей <br> Марченко
								.spec Маркетолог
								.spec.spec--green Главный редактор
					p.text-section.text-section--quotes Интернет-маркетинг является составляющей электронной коммерции. Его также называют online-маркетингом. Он может включать такие части, как интернет-интеграция, информационный менеджмент, PR, служба работы с покупателями и продажи. Электронная коммерция и интернет-маркетинг стали популярными с расширением доступа к интернету и являют собой неотъемлемую часть любой нормальной маркетинговой кампании. Сегмент интернет-маркетинга и рекламы растёт как в потребительском секторе, о чем свидетельствует появление с каждым днем все новых интернет-магазинов, так и на рынке B2B. Основными преимуществами интернет-маркетинга считаются интерактивность, возможность максимально точного таргетинга, возможность постклик-анализа, который ведет к максимальному повышению таких показателей как конверсия сайта и ROI интернет-рекламы.
				.ba-section-icon
					.icon
					p <b>Сейчас интернет-маркетинг</b> — это нечто большее, чем продажа информационных продуктов, сейчас идет торговля информационным пространством, программными продуктами, бизнес-моделями и многими другими товарами и услугами. Такие компании, как <a href="#">Google</a>, <a href="#">Yahoo</a>, и <a href="#">MSN</a> подняли на новый уровень и сегментировали рынок интернет-рекламы, предлагая малому и среднему бизнесу услуги по локальной рекламе. Рентабельность инвестиций возросла, а расходы удалось снизить. Этот тип маркетинга стал основой современного капитализма, которая позволяет любому, у кого есть идея, товар или услуга, достичь максимально широкой аудитории.
	.book-content-section-2
		.shift
			.container
				.ba-content-section.book-the-contents.sections-border
					.ba-section-icon
						.icon: i.icm.icon-b-lenta
						.dt.dt--header.vam
							.dtc: h2 Содержаниие
							.dtc: a(href="#").btn.btn--red Заказать книгу
					.ba-section-icon.book-the-contents__item
						.icon.middle Глава 1
						b  Поисковые движки 
						| (отражают сознание и объединяют коммерцию)
					.ba-section-icon.book-the-contents__item
						.icon.middle Глава 2
						b  Основы поисковых движков
					.ba-section-icon.book-the-contents__item
						.icon.middle Глава 3
						b  Определение целей вашей поисковой оптимизации и аудитории вашего сайта
					.ba-section-icon.book-the-contents__item
						.icon.middle Глава 4
						b  Изменения в доменах, перепроектирование после оптимизации, устранение неполадок
					.ba-section-icon.book-the-contents__item
						.icon.middle Глава 5
						b Оттачиваем искусство. Исследование и обучение поисковой оптимизации
					.ba-section-icon.book-the-contents__item
						.icon.middle Глава 6
						b Поисковая оптимизация — развивающийся вид искусства
				.ba-content-section.book-entry
					.ba-section-icon
						.icon: i.icm.icon-b-book2
						h2 Вступление
						p.first-p Более десяти лет прошло с тех пор, как Интернет стал присутствовать практически во всех аспектах нашей жизни, но (это часто бывает со всеми серьезными теxнологическими переменами) большая часть бизнеса реагировала медленно. Если вы уже перевели свой бизнес в Интернет и начали это бесконечное общение с вашими клиентами, то мы вас поздравляем!
						p Но если вы относитесь к тем, кто не торопится, не переживайте. Начать никогда не поздно, а имея эту книгу, вы уже стоите на верном пути.
						p На самом деле тот факт, что вы начинаете именно сейчас, может быть даже к лучшему, поскольку за последние десять лет очень много было пройдено и много совершено ошибок. Появились новые технологии (например, Facebook и Twitter), а старые исчезли. Интернет повзрослел и "правила дорожного движения" стали не- много понятнее. Кроме того, появилась и возмужала целая отрасль профессионалов поисковой оптимизации и маркетинга, которые готовы вам помочь.
						.read-more-footer
							a(href="#").btn.btn--red 
								i.icm.icon-lenta
								span Читать далее
	.container
		.book-form
			.top
				.header
					i.icm.icon-b-book3
					h2 Заказать книгу
				div
					label.green-radio
						input(type="radio" name="book_type")
						.dt
							.dtc: span.icon
							.dtc Электронная книга
					label.green-radio
						input(type="radio" name="book_type")
						.dt
							.dtc: span.icon
							.dtc Печатная версия книги
			.bot
				form(action="#").clearfix
					.row
						.col-md-4
							.title Имя
							input(type="text")
						.col-md-4
							.title Электронная почта
							input(type="text")
						.col-md-4
							.title Телефон
							input(type="text")
						.col-md-12.ta-right
							a(href="#").btn.btn--brg Отправить заявку