extends _template

block main

	.breadcumbs
		.container
			ul
				li: a(href="#") Главная 
				li: a(href="#") Типовая страница 
	.inner__main
		.container
			.row
				.col-md-3
					include includes/left-menu
				.col-md-9
					.main__content
						.inner__header
							h1 Типовая страница
						.mb-60
							p <b>Компания "Акива"</b> — эффективно работает, постоянно развивается и растёт в таких сферах, как поисковое продвижение, веб-аналитика, разработка crm и erp систем. Компания представлена своими офисами в нескольких регионах Российской Федерации.
							p <b>Основная миссия нашего коллектива</b> — организация сервиса одного окна. Мы готовы взять на себя все функции вашего технического отдела.
							p Максимальная автоматизация внутренних бизнес-процессов (выставление счетов, рассылка корреспонденции и т.д.), позволяет нам сохранить <a href="">индивидуальный подход</a> к задачам и живое общение с клиентом.
							p Мы имеем успешный опыт сотрудничества с клиентами из различных отраслей экономики. Мы уверены, что построить успешный бизнес, основанный на фундаментальных принципах, можно только в случае оказания исключительно полезных услуг.
							.text-section.text-section--red.big-text
								.text-section__centered
									.text-section__image: i.icon.icon-danger
									.text-section__text В нашей компании работают только высококвалифицированные сотрудники, которые регулярно посещают основные профильные мероприятия, проходят ежегодную сертификацию.
							.text-section.text-section--brg
								.text-section__centered
									.text-section__image: img(src="img/doska.png", alt="" )
									.text-section__text Основная миссия нашего коллектива — организация сервиса одного окна. Мы готовы взять на себя все функции вашего технического отдела.
						.mb-60
							h2 Заголовок H2
							.text-section.text-section--border
									.text-section__text <b>Вы</b> – собственник бизнеса, веб-студия, компания, занимающаяся регистрацией доменов или хостинга, рекламное агентство, sale-менеджер, студия дизайна или любая иная компания, которая хочет зарабатывать вместе с нами?
							.text-section
								.text-section__centered.va-top
									.text-section__image: img(src="img/algoritm-for-section.png", alt="" )
									.text-section__text <b>Давайте дружить</b>, ведь нам есть, что предложить своим партнерам! В компании «Акива» разработана специальная система сотрудничества, открывающая для вас множество преимуществ. Любая компания может использовать наши технологии для предоставления своим клиентам качественных услуг в области интернет-маркетинга.
							.text-section
								.text-section__centered
									.text-section__image: <span class="num">01</span>
									.text-section__text <b>Ваши клиенты желают увеличить продажи?</b> Тогда предложите им наши услуги по интернет-рекламе, юзабилити аудиту сайта, по его продвижению и оптимизации.Вы не только обеспечите своих клиентов качественными услугами, но и хорошо на этом заработаете!
						.row.clearfix
							.col-md-6.mb-30
								h3 Сотрудничество на условиях агента H3
								p Вы передаете нам информацию о потенциальном клиенте, либо уже готового клиента, мы же, в свою очередь, выплачиваем вам согласованное вознаграждение.
								a(href="#").more 
									span Узнать больше 
									span.icon.icon-toright.right
							.col-md-6.clearfix.mb-30
								h3 Сотрудничество на условиях агента H3
								img(src="img/image-blank.jpg", alt="").img-responsive
								p Вы передаете нам информацию о потенциальном клиенте, либо уже готового клиента, мы же, в свою очередь, выплачиваем вам согласованное вознаграждение.
								a(href="#").btn.btn--thin
									span Узнать больше
									span.icon.icon-toright-red.right
						.row.clearfix.mb-30
							.col-md-12
								h2.withsep Списки
							.col-md-6.mb-30
								h3 Ненумерованный список
								ul.ul
									li Возможность заказа у нас любых услуг в области интернет-маркетинга
									li Ежедневное развитие Вашего ресурса
									li Нацеленность на повышение Ваших продаж
									li Продвижение сайтов с привязкой к конечному результату
									li Дружеский подход к каждому клиенту
							.col-md-6.mb-30
								h3 Нумерованный список
								ol.ol
									li Дополнительная прибыль для вашей компании без каких-либо затрат
									li Скидки на услуги
									li Дополнительный набор услуг для вашей компании
									li Отсутствие затрат на обслуживание клиента
									li Оплата услуг по факту выполненных работ
						.mb-30
							h3 Таблица
							table.table.colorful-header#positionsTable
								thead
									tr
										td #
										td Ключевой запрос
										td 
											span.icon.icon-ya.left
											|Яндекс
										td 
											span.icon.icon-google.left
											|Google
								tbody
									tr
										td 1
										td альфа и омега переводческое агентство
										td.pos 2
										td.pos 1
									tr
										td 2
										td альфа омега переводы
										td.pos 10
										td.pos 1
									tr
										td 3
										td бюро переводов альфа омега
										td.pos 7
										td.pos 4
									tr
										td 4
										td переводческие агентства в москве
										td.pos 3
										td.pos 18
									tr
										td 5
										td альфа и омега перевод
										td.pos 7
										td.pos 14
									tr
										td 6
										td альфа и омега переводческое бюро
										td.pos 18
										td.pos 9
									tr
										td 7
										td бюро альфа и омега
										td.pos 22
										td.pos 6
						.text-section.text-section--red.reviews-section.clearfix
							.reviews-section__image: img(src="img/reviews-block-img.png", alt="")
							.reviews-section__text
								span.reviews-section__header Отзывы о нас
								span.reviews-section__desc У нас сотни благодарных клиентов со всей России
							a(href="#").btn.btn--brg.fl-right Все благодарности
						.text-section.border-red.text-section--question.blocks-justify
							.column.first
								span Хотите узнать все<br>подробности о своём<br>сайте, звоните:
							.column
								.main-header__phone.red 8 800 200 47 80
								span.phone-desc (Бесплатно по россии)
							.column 
								span или
							.column 
								a(href="#").btn.btn--red.big Закажите звонок
						include includes/main-form







