extends _template-article

block main
	.ba-widget-panel
		.container
			.row
				.col-md-4.col-sm-6
					a(href="#").btn.btn--green
						i.icm.icon-rocket
						span Продвижение
					a(href="#").btn.btn--bd-red
						| Спецпроект
					span.btn.btn--grey
						i.icm.icon-eye2
						span 2 497
				.col-md-8.col-sm-6.ta-right
					.share-block__wrap
						span Поделиться
						span.line
						ul.share-block
							li: a(href="#").vk
								i.icm.icon-vk
								span Вконтакте
							li: a(href="#").fb
								i.icm.icon-facebook
								span facebook
							li: a(href="#").tw
								i.icm.icon-twitter
								span twitter
							li: a(href="#").gp
								i.icm.icon-google-plus
								span google
	.ba-history
		.container
			.text-box-with-icon
				.dt
					.dtc
						.blog-post__author
							.interesting__author-image.ta-center
								img(src="img/interesting-author1.jpg", alt="")
							.interesting__author-info
								.name Светлана Павленко
								.spec Копирайтер.
						.line
					.dtc.text
						.name Это история успеха <span>одного сайта</span>
						p Фразеологизм “что посеешь, то и пожнёшь” имеет множество разных значений и касается многих аспектов нашей жизни, в том числе материальных. За очень редкими исключениями, низкая стоимость товара часто означает его плохое качество. Дешёвый матрац, дешёвые кроссовки или дешёвый алкоголь, возможно, и осчастливят вас ненадолго, но либо окажутся ненадёжными, либо не оставят вас довольными после их использования — в итоге вы всё равно предпочтёте приобрести что-то подороже.
			.text-separator: span Содержание
			.ba-history-contents
				.row
					.col-md-3.col-sm-6
						.ba-history-contents__item
							.icon
								i.icm.icon-skynet
							.name Обзор систем  управления
							.desc
								| Битрикс и Битрикс 24. Основа эффективного вебсайта
					.col-md-3.col-sm-6
						.ba-history-contents__item
							.icon
								i.icm.icon-chart
							.name Seo и аналитика в деталях
							.desc
								| Чем опасна недостоверная информация в сфере SEO-продвижения сайтов
					.col-md-3.col-sm-6
						.ba-history-contents__item
							.icon
								i.icm.icon-vrr
							.name UX\UI дизайн
							.desc
								| Дизайн - это не просто картинка. Роль User Experience (UX) в успехе продвижения 
					.col-md-3.col-sm-6
						.ba-history-contents__item
							.icon
								i.icm.icon-win
							.name Поисковые системы
							.desc
								| Google и Яндекс. Настройка вебсайта для успешного продвижения. Трудности и секреты
	.ba-content
		.container.before-statistic
			.ba-content-section
				.ba-section-icon
					.icon.ta-left Часть <br> первая
					h2 Обзор систем управления
					.ba-cms
						.col
							.img: img(src="img/big-article/bitrix.jpg", alt="")
							p Полный комплект инструментов для организации работы компании
							a(href="www.1c-bitrix.ru") www.1c-bitrix.ru
						.col
							.img: img(src="img/big-article/bitrix24.jpg", alt="")
							p Полный комплект инструментов для организации работы компании
							a(href="www.bitrix24.ru") www.bitrix24.ru
					p Для начала поговорим о компании, чтобы понимать, откуда взялся программный продукт «Битрикс» и почему его название оказалось именно таким. Основана компания «Битрикс» была еще в 1998 году сразу после финансового кризиса как веб-студия, специализирующаяся на разработках интернет-сайтов под заказ. В начале 2000-х компания создает и начинает развивать собственную CMS-систему, которую также называет «Битрикс». Первые версии CMS Битрикс ничем принципиально не отличались от множества других движков сайтов, пока в 2007 компания 1С не выкупила контрольный пакет акций «Битрикс», после чего система управления сайтом получила название «1С-Битрикс».
					p Здесь я расскажу о важных особенностях платформы Bitrix Framework, а также о программных продуктах, созданных на этой платформе. Статья предназначена, прежде всего, для пользователей, которые стремятся понять, нужны ли для их бизнеса те или иные разработки Битрикс, и в чем их особенности. Также информация из этой статьи может оказаться полезной разработчикам, которые работают с другими CMS, но хотят также получить некоторое представление о Битрикс.
					p В последнее время я часто сталкиваюсь с интеграцией сайтов с системами CRM и программами учета движения товаров и денежных средств. Чаще всего в нашей стране интеграция требуется с разными версиями и конфигурациями 1С. Также часто заказчики к моменту обращения ко мне либо уже успели создать Битрикс-сайт, либо интересуются возможностью перехода на этот движок, так как компания 1С рекомендует его как систему, в которой имеется все необходимое для автоматизации обмена данными. Многочисленные вопросы и накопленный практический опыт работы с Битрикс-сайтами стали теми факторами, благодаря которым я вспомнил о давнем обещании подробно поговорить о Битрикс и все же написал эту статью.
					p Начать я предлагаю с определения самого понятия Битрикс. Обычно это название используют в двух вариантах:
				.ba-section-icon
					.icon.middle
						span.icm.icon-terminator
							span.path1
							span.path2
							span.path3
					h3 Что такое Битрикс ?
					p Начать я предлагаю с определения самого понятия Битрикс. Обычно это название используют в двух вариантах:
					ol.ol.ol--normal
						li <b>Битрикс</b> – название компании разработчика программного обеспечения.
						li <b>Битрикс</b> – среда для разработки веб-приложений, так называемый, Bitrix Framework.
				.ba-section-icon.ba-section-icon--special
					.icon
						i.icm.icon-blah
					h3 Интересные факты
					.ba-special-facts
						.col
							.title Дата основания
							.desc 02 декабря 1998
						.col
							.title Партнерская сеть
							.desc Более 16 000 на февраль <br> 2017 года
						.col
							.title Популярность
							.desc Первое место в рейтинге платных тиражных CMS России по версии iTrack
				.ba-section-icon
					h3 Битрикс как программный продукт
					p Все программные продукты Битрикс созданы на базе Bitrix Framework. Если обратиться к разделу помощи на сайте 1С-Битрикс, то можно увидеть такое определение:
					.text-section.text-section--dots
						p Bitrix Framework — это созданная на основе PHP платформа для разработки веб-приложений. На этой платформе компанией «1C-Битрикс» созданы два популярных продукта: «1C-Битрикс: Управление сайтом» и «1С-Битрикс: Корпоративный портал».

					p Такое определение понятно для веб-разработчиков, но ничего не говорит пользователям. А потому я попробую пояснить упрощенно, о чем идет речь. 

					p Framework – это некий «каркас», платформа для создания программных продуктов. <br> PHP – это язык программирования, на котором написан этот «каркас».

					p На основе этого «каркаса», этой платформы компания Битрикс создала программные продукты «1C-Битрикс: Управление сайтом» и «1С-Битрикс: Корпоративный портал». Это уже готовые CMS, которые можно установить на хостинг, настроить и работать с ними, как и с любой другой системой управления сайтом.
		.ba-statistic
			.container
				.text-box-with-icon.ba-statistic__header
					.dt
						.dtc
							.icon: i.icm.icon-chart-ez
							.line
						.dtc.text
							h2 Немного статистики
				.text-box-with-icon
					.dt
						.dtc
							.icon: i.icm.icon-hor
							.line
						.dtc.text
							.name Посетители и продажи
							p Последнее обновление – 20 ноября 2017
				.row
					.col-md-7.col-sm-6
						img(src="img/big-article/ba-diagram.png", alt="")
					.col-md-5.col-sm-6
						.border-text
							p <b>Bitrix Framework</b> – это некий набор готовых модулей и компонентов, т.е. «кирпичиков», из которых программисты Битрикс создают программные продукты.
							p Для сравнения: программные продукты 1С также поставляются с лицензированием, но в них доработать можно только конфигурацию, ядро (основа программного продукта) для программистов недоступно. В Битрикс программист может вносить любые изменения, в том числе, в ядро. А, например, DRUPAL — это система с открытым кодом, но без лицензирования.
		.container.after-statistic
			.ba-content-section
				.ba-section-icon
					.icon.ta-left Часть <br> вторая
					h2 Seo и аналитика <br> в деталях
				.ba-section-icon
					.icon
						.circle-wrap
							img(src="img/big-article/google-logo.png", alt="")
					p Google Analytics всегда был и будет классическим инструментом для веб-аналитиков. Не только потому что он бесплатный, но и потому что предлагает широкий набор инструментов, которые позволяют тестировать, отслеживать и измерять пользовательское поведение на сайте. Однако использование только одного инструмента аналитики не всегда правильно — данные могут искажаться, и решения, принятые на их основе, будут ошибочными. Поэтому для более точных данных неплохо сравнивать показатели, используя информацию из нескольких источников.
					p <b>Аналитика веб-сайта</b> — это комплекс мер, направленных на оценку эффективности работ по продвижению сайта, его посещаемости, целесообразности расходования выделенных бюджетов и оценку успешности выбранной стратегии по проведению рекламных кампаний в интернете.
				.ba-section-icon
					.icon
						.circle-wrap
							img(src="img/big-article/yandex-logo.png", alt="")
					p Многие специалисты, имеющие приличный опыт работы в интернете, не знают целого ряда важных функций аналитических сервисов Яндекса. Разберем основы взаимодействия с Метрикой и Вебмастером для получения полезных практических выводов по продвигаемым проектам.

					p <b>Метрика</b> стала одной из главных систем анализа статистики рунета во многом из-за доступности данной функции. Так как без довольно сложной дополнительной настройки невозможно получить отображение данных о поисковых фразах Яндекса в прочих системах аналитики. В то же время, SEO-специалист и владелец сайта должен знать, по каким запросам приходили на его сайт пользователи и какие запросы в его тематике популярны, продвигаются ли те запросы, которые нужно, или те, которые на самом деле не дают никакого трафика.
				.ba-section-icon.ba-section-icon--pink
					.icon




						.ba-author
							.img: img(src="img/big-article/author-photo.png", alt="")
							.text
								.name Виктория Добровольская
								.spec Веб аналитик
					h3 Чем опасна недостоверная <br> информацияв сфере SEO- <br> продвижения сайтов
					p Вы слышали о так называемых “чёрных списках” Google, в которые заносят тех, кто перегружает главную страницу своего сайта ключевыми словами? 
					p А как вам мысль о том, что частые публикации одного и того же контента в социальных сетях приводят к улучшениям в ранжировании?
					a(href="#").btn.btn--red-sh 
						i.icm.icon-lenta
						span Читать далее
		.ba-uiux__wrap
			.ba-uiux
				.container
					.ba-section-icon.ba-uiux__header
						.icon.ta-left Часть <br> третья
						h2 UI \ UX дизайн
					.ba-section-icon.ba-uiux__post-header
						.icon
							i.icm.icon-pen
						p дизайн сайта крайне важная <br> часть в продвижении и <br> успехе сайта
					.ba-content-section
						.ba-section-icon
							.icon
								i.icm.icon-head-bom
							p Кто и зачем заставляет нас продираться сквозь множество непонятных форм, задает кучу лишних вопросов и требует ненужных подтверждений?! Кто прячет от нас нужные кнопки и опции, мешает нам свободно реализовывать свои потребности и спокойно наслаждаться жизнью?!
							p <b>Интерфейс — это всегда взаимодействие.</b> Взаимодействие какой-то системы (это необязательно должна быть компьютерная система) и человека (пользователя). И если взаимодействие затруднено, начинаются проблемы. Можно ли их избежать?
							p Широкое распространение получил афоризм, авторство которого в первую очередь приписывают американскому программисту Алану Куперу: идеальный интерфейс — это отсутствие интерфейса. Воображение услужливо рисует устройства, которые считывает ваши мысли и сразу же их реализуют. Но, очевидно, даже такая идеальная схема потребует изобретения какого-то механизма, с помощью которого человеческая мысль должна воздействовать на «умную» машину. Вот и получается, что отказаться от интерфейсов просто невозможно.
						.ba-section-icon
							.icon
								i.icm.icon-periph
							h3 Интерфейсы и прототипирование
							p Зато можно научиться создавать удобные интерфейсы, о существовании которых пользователю даже не придется задумываться! Именно этой проблематикой и занимается такое направление в ИТ, как UI/UX Design.

							p UI — это интерфейс пользователя, он же пользовательский интерфейс (от английского user interface). UX в переводе означает «опыт взаимодействия» (User eXperience) и включает в себя различные компоненты: информационную архитектуру, проектирование взаимодействия, графический дизайн и контент.

							p UX-дизайн — это комплексный подход к взаимодействию пользователя с интерфейсом, будь то веб-сайт, мобильное приложение или любая другая программа. Специалист, который выполняет такую работу, называется UX-дизайнером. Его задача — при разработке интерфейса по возможности максимально учесть все мелочи, начиная от среды пользователя и типа электронного устройства и заканчивая способами ввода и отображения информации.
						.ba-section-icon
							.icon.middle
								i.icm.icon-cloud
							h3 Как это работает?
						.uiux-slider__wrap
							.uiux-slider
								ul.uiux-slider__list
									li: img(src="img/big-article/ba-slide1.png", alt="")
									li: img(src="img/big-article/ba-slide1.png", alt="")
									li: img(src="img/big-article/ba-slide1.png", alt="")
							.uiux-slider__bottom
									span.uiux-slider__num
										span.current 1 
										|  &nbsp;из &nbsp;
										span.all 12 
									span.line
									span Плоский и чистый. Это пример современных мобильных интерфейсов
						.ba-section-icon
							p Профессия проектировщика интерфейсов, безусловно, интересна, перспективна и многогранна, ведь она возникла на стыке дизайна, инженерных специальностей и психологии. Наверное, стать гуру UI/UX-дизайна под силу не каждому: здесь мало только любить сам дизайн — нужно разбираться в каких-то технических моментах и практических вещах, уметь заглядывать в будущее и анализировать человеческое поведение. Но если вы противник узких специализаций. Если вам нравится придумывать вещи, которых еще нет. Если вы постоянно замечаете несовершенство окружающего мира и задумываетесь о том, как это можно исправить, <b>тогда UI/UX Design - это для вас</b>!
					.not-end
						span Это еще не конец
						i.icm.icon-mouse
							span.path1
							span.path2
						span крутим дальше...
		.container
			.ba-content-section.no-top-pad
				.ba-search-systems
					.ba-section-icon
						.icon.ta-left Часть <br> четвертая
						h2 Поисковые <br> системы
					.ba-section-icon
						.icon
							i.icm.icon-mount-flag
						p <b>Продвижение сайта</b> — комплекс <br> мер по обеспечению<br> посещаемости сайта целевыми <br>посетителями.
				.ba-section-icon
					.icon.rotate-text.middle.ta-left
						span &nbsp;К слову, мы успешно продвинули 38 проектов <br> &nbsp;в топ за последний год.
					.text-section.blocks-justify.text-section--dashed
						.column
							i.icm.icon-aplst-flag
						.column Я хочу продвижение для своего сайта!
						.column
							a(href="#").btn.btn--red Узнать больше
					p Общеизвестно, что главную страницу продвигать легче и запросов по главной в поиске всегда больше. Поэтому стоит делать несколько главных страниц. Добавленные размещать на поддоменах. С точки зрения структуры ничего не меняется, но сайт легко выходит в топ. Главное — правильно настроить поддомены.
					p В одном из кейсов Алексея Чекушина этот метод отлично сработал в нише недвижимости.
					p Также с помощью нехитрых приемов с URL-адресом можно сделать так, что роботы поисковых систем будут видеть несколько главных страниц. Для «создания» второй главной страницы следует поставить ссылку на нее с помощью «/#» и canonical. Так роботы увидят оба анкора.
					p Этот метод также применяется, когда со страницы A нужно поставить две и больше ссылки на страницу Б.
					h3 Быстрая индексация новых страниц
					p Если ежедневно на сайте появляется по 100-200 новых страниц, для более быстрого попадания в индекс достаточно разместить их в футере главной страницы. В качестве анкоров следует брать тайтлы страниц.

					p По словам Дмитрия Шахова, Google к такому методу с условным названием «в поддон навалили» относится вполне терпимо.
				.ba-section-icon
					.icon
						i.icm.icon-table
					.table-wrap
						table.table.table--colors
							thead
								tr
									td	Поисковая фраза
									td	Визиты
									td	Просмотры
									td	Отказы
							tbody
								tr
									td калькулятор онлайн
									td.yellow 2 344
									td 854
									td 12%
								tr
									td гороскоп на сегодня
									td 671
									td 445
									td.red 55%
								tr
									td новости украины
									td.green 721
									td 324
									td 4%
								tr
									td расписание электричек
									td 739
									td 788
									td 8%
								tr
									td алиэкспресс на русском
									td 203
									td 209
									td 9%
								tr
									td поздравления с днем рождения
									td 830
									td 583
									td 13%
								tr
									td программа передач	
									td 219
									td 701
									td 21%
								tr
									td экспресс спорт
									td 351
									td 224
									td 9%
								tr
									td смотреть фильмы
									td 146
									td 602
									td 16%
			.ba-labels
				a(href="#").label.label--gray продвижение
				a(href="#").label.label--gray продвижение        
				a(href="#").label.label--gray оптимизация       
				a(href="#").label.label--gray UI\UX       
				a(href="#").label.label--gray дизайн       
				a(href="#").label.label--gray seo       
				a(href="#").label.label--gray прототипирование        
				a(href="#").label.label--gray топ        
				a(href="#").label.label--gray поисковый запрос       
				a(href="#").label.label--gray задача       
				a(href="#").label.label--gray проектирование
			.row.ba-footer.clearfix
				.col-md-6
					.text-section.blocks-justify.text-section--dashed
						.column
							img(src="img/big-article/glses.png", alt="")
						.column У нас много новых <br> публикаций.
						.column
							a(href="#").btn.btn--red Читать
				.col-md-6
					.text-section.blocks-justify.text-section--red
						.column
							i.icm.icon-chart-up
						.column Хочу <br> продвижение!
						.column
							a(href="#").btn.btn--white Заказать
		.ba-more-articles
			.container
				.row
					.col-md-12
						.clearfix
							.h2-wrap.clearfix
								h2.medium: b Похожие публикации
							.row
								.col-md-4
									.blog-post
										.blog-post__body
											.blog-post__image.ta-center
												img(src='img/blog-post-image-small.png', alt='')
											.blog-post__name О работе новичков на биржах уникального контента
											.blog-post__desc
												| Работать на биржах уникального контента с каждым годом все сложнее и сложнее. Число копирайтеров и рерайтеров...
												a(href='#') Читать
										.blog-post__footer
											.blog-post__author
												.interesting__author-image
													img(src='img/interesting-author1.jpg', alt='')
												.interesting__author-info
													.name Светлана Павленко
													.spec Копирайтер
											.blog-post__watched
												span.icon.icon-eye
												span 999
								.col-md-4
									.blog-post
										.blog-post__body.mask(style="background:url('img/post-blog-image-big.jpg')")
											.blog-post__image
												img(src='img/post-blog-image-xs.png', alt='')
											.blog-post__name Кем и где можно работать в Интернет?
											.blog-post__desc
												| Сегодня ни для кого не секрет, что Интернет дает большие возможности пользователям. Но не все могут ими воспользоваться из-за изобилия информации...
												a(href='#') Читать
										.blog-post__footer
											.blog-post__author
												.interesting__author-image.ta-center
													img(src='img/interesting-author1.jpg', alt='')
												.interesting__author-info
													.name Светлана Павленко
													.spec Копирайтер.
											.blog-post__watched
												span.icon.icon-eye
												span 999

								.col-md-4
									.blog-post
										.blog-post__body
											.blog-post__image.ta-center
												img(src='img/mixid-block.png', alt='')
											.blog-post__name Перелинковка внутренних страниц сайта
											.blog-post__desc
												| Работать на биржах уникального контента с каждым годом все сложнее и сложнее. Число копирайтеров и рерайтеров, стремящихся заработать... 
												a(href='#') Читать
										.blog-post__footer
											.blog-post__author
												.interesting__author-image
													img(src='img/interesting-author1.jpg', alt='')
												.interesting__author-info
													.name Светлана Павленко
													.spec Копирайтер
											.blog-post__watched
												span.icon.icon-eye
												span 999
