extends _template

block main
	.breadcumbs
		.container
			ul
				li: a(href="#") Главная 
				li: a(href="#") Типовая страница 
	.inner__main
		.container
			.row
				.col-md-3
					include includes/left-menu
				.col-md-9
					.main__content
						.inner__header
							h1 Дизайн сайтов
						.text-section.text-section--red.services-section.clearfix
								.services-section__image
									img(src="img/text-section-design.png", alt="")
								.services-section__text.price
									| от
									span 10 000 ₽
								a(href="#").btn.btn--brg.fl-right Отправить заявку
						.mb-60
							p <b>Веб-дизайн от «Akiwa»</b> создаст уникальную картинку каждому сайту Создание дизайна сайта сегодня основывается на принципах, выравнивания, балансировки, контраста, акцентирования и удобстве восприятия. 
							p Именно этих принципов придерживается в работе наша студия веб дизайна «Akiwa». Мы помогли множеству клиентов из Москвы и других городов России правильно презентовать деятельность своей компании на просторах Интернета и привлечь новых целевых посетителей, а теперь и Вы с нашей помощью можете повысить эффективность своего бизнеса.
							p Наши веб-дизайнеры <a href="#">способны подчеркнуть значимость</a> и особую важность какого-либо элемента, так как заранее занимаются детальным анализом содержимого ресурса. Для того, чтобы правильно сделать акцент нужно представить перечень элементов, которые будут размещены на веб-странице, а потом необходимо определить их будущий порядок важности. Именно благодаря таким не хитрым приемам акцентирования наша команда создает особый и <b>неповторимый web-дизайн</b>, который даст возможность посетителям сайта обратить внимание товары и услуги Вашей компании.
							p Услуги по созданию дизайна сайта позволят Вашей компании развиваться и процветать, добиться больших результатов на рынке. Благодаря профессиональной работе <a href="#">наших дизайнеров</a>, Ваша компания будет обладать эксклюзивным интернет-порталом, который позволит Вам отстроиться от конкурентов и выгодно выделиться на их фоне. Веб дизайн студия «Akiwa» в Москве разработает ресурс, который будет непременно привлекать внимание к ключевым товарам и услугам Вашей компании.
							p(class="info border--dashed-gray")
								i.icon.icon-info-bold
								span Дизайн можно получить бусплатно заказав у нас продвижение на 1 год <a href="#">Подробнее</a>
						.text-section.border-red.text-section--question.blocks-justify
							.column.first
								span Хотите узнать все<br>подробности о своём<br>сайте, звоните:
							.column
								.main-header__phone.red 8 800 200 47 80
								span.phone-desc (Бесплатно по россии)
							.column 
								span или
							.column 
								a(href="#").btn.btn--red.big Закажите звонок
						.mb-30
							include includes/main-form
						.h2-wrap.clearfix
							.column
								h2.color-red Это интересно
							.column.ta-right
								a(href="#")
									span.icon.icon-newspaper-sm.left
									span Еще статьи
						include includes/interesting







