extends _template

block main
	.breadcumbs
		.container
			ul
				li: a(href="#") Главная 
				li: a(href="#") Типовая страница 
	.inner__main
		.container
			.row
				.col-md-3
					include includes/left-menu
				.col-md-9
					.main__content
						.inner__header
							h1 Продвижение сайта с оплатой за позиции
						.mb-60
							p Продвижение сайта по позициям на сегодняшний день является одной из самой широко известных  и распространенных услуг на рынке поисковой оптимизации. Прежде всего это связано с простотой оценки достигнутых результатов, достаточно набрать требуемый запрос и убедиться есть ли ваш сайт в топе. 
							p С развитием поисковых систем и алгоритмов появилось множество нюансов, из-за которых оценка достигнутых результатов стала не такой очевидной. В настоящий момент два компьютера, находящиеся в одном офисе, могут показывать разные результаты по одному и тому же поисковому запросу.
							p: b Сказывается влияние следующих факторов
							ul.ul.ul--circle
								li <b>Персонализированная выдача</b> — у каждого пользователя свои результаты на основании сайтов, посещенных ранее;
								li <b>Региональная выдача</b> — пользователи из разных населенных пунктов видят различные результаты по одному и тому же запросу;
								li <b>Поисковые подсказки</b> — появляются при наборе поискового запроса и способствуют перераспределению поискового трафика.
							p: b Схема сотрудничества при продвижении сайта с оплатой за позиции
							ul.ul.ul--circle
								li До подписания договора наши аналитики детально проанализируют ваш сайт и сайты ваших конкурентов, отберут наиболее релевантные запросы и предоставят развернутый отчет с результатами анализа;
								li Если договорные обязательства по списку поисковых запросов, ориентировочным срокам вывода и стоимости продвижения устраивают обе стороны высылается договор для его подписания;
								li Следующий этап сотрудничества будет направлен на выполнение внутренней оптимизации сайта специалистами нашей компании. Для этого мы не просто прописываем метатеги и меняем заголовки, а полностью переработаем сайт и все его внутренности, корректируем или пишем заново текстовый контент, если понадобится, изменим структуру и дизайн. Для достижения желанного результата вы должны быть готовы к тесному сотрудничеству с нами;
								li После проведения курса по внутренней оптимизации осуществляется плавный переход к продвижению вашего сайта по позициям;
								li Ежемесячно наши клиенты получают отчет, содержащий информацию о достигнутых результатах, проведенных и планируемых работах.
							p Наши методы поискового продвижения основаны исключительно на рекомендациях самих поисковиков. Мы работаем не создавая мифов и секретов для своих клиентов.
							p Минимально-рекомендуемый срок сотрудничества <a href="prodvijenie.html">при продвижении сайта</a> по позициям составляет <b>6 месяцев</b>. На достижение лидирующих позиций по основным запросам уходит не менее 3-х месяцев, первые результаты ожидаемы в течение нескольких <b>недель</b>.
							p.info.border--dashed-gray <i class="icon icon-info-bold"></i> <span>Следует учесть, что реальные сроки вывода сайта в топ всегда индивидуальные и разные.</span>
						.text-section.border-red.text-section--question.blocks-justify
							.column.first
								span Хотите узнать все<br>подробности о своём<br>сайте, звоните:
							.column
								.main-header__phone.red 8 800 200 47 80
								span.phone-desc (Бесплатно по россии)
							.column 
								span или
							.column 
								a(href="#").btn.btn--red.big Закажите звонок
						.mb-30
							include includes/main-form
						.h2-wrap.clearfix
								.column
									h2.color-red Это интересно
								.column.ta-right
									a(href="#")
										span.icon.icon-newspaper-sm.left
										span Еще статьи
						include includes/interesting







