@media screen and (max-width:1744px){

		.team__item .support-callback{
			display: none;	
		}
}
@media screen and (min-width:1635px){
	   .features h2{

        width: 420px;
        line-height: 102px;
        top: 120px;
        left: -630px;
        
        
        transform: rotate(-90deg);
        position: absolute;
    }
	.page__service{
		padding: 85px 0;
	}
	.service{
		position: relative;
		&__header{
			width: 541px;
			left: 0;
			top: 20px;
			transform: rotate(-90deg);
			position: absolute;
			    left: -449px;
    		top: 210px;
    		&:after{
    			content: '';
    			position: absolute;
    			display: block;
				border: 40px solid transparent ; 
				border-left-width: 30px;
				border-right-width: 30px;
				border-top-color: #E0E0E0;
				right: -25px;
				bottom: -81px;
    		}
		}
	}
	.page__prices{
		h2{
			font-size: 160px;
			position: relative;
			span{
				position: absolute;
				transform: rotate(-90deg);
				left: -380px;
				top: 174px;
			}
		}
	}
}

@media screen and (max-width: 1229px){
	.history-section__item--small .history-section__image{
		height: 171px;
	}

	.history-section__image{
		height: 456px;
	}
	.history-section__item--vertical .history-section__image{
		height: 295px;
	}
	.history-section__item--vertical .history-section__name{
		font-size: 25px;
	}
	.left-menu .icon-wrap{
		width: 59px;
	}
	.prodv-works .achivements__text .label span{
		display: block;
	}
	.prodv-works__positions .position{
		width: 400px;

	}
	.prodv-works__header, .prodv-works__positions, .prodv-works__graph, .sup-works__info{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.features__item{
		font-size: 14px;
		line-height: 16px;
	}
	.features__name{
		font-size: 18px;
	}
	.vacancy-bottom-arr{
		display: none;
	}
	.left-menu__item{
		padding-left: 59px;
	}
	.left-menu__item > a .title{
		font-size: 15px;

	}
	.service-block--big .service-block__header,
	.service-block--big .service-block__price{
		width: 100%;
	}
	.service-block--big .service-block__price span, .service-block--big .service-block__price a{
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
	}
	.service-block{
		height: auto;
		padding-bottom: 20px;
		.service__body li, .service__body .w100{
			width: auto !important;
			display: inline-block !important;
			margin-right: 10px;
			&:last-child{
				margin-left: 0;
			}
		}
		&__price{
			margin-top: 10px;
			position: static;
		}
	}
	h2.big, .service__header.big{
		margin-top: 20px;
		font-size: 105px;
		letter-spacing: 2px;
		// margin: 30px 0;
	}
	.service__header.big{
		line-height: 105px;
	}
	.big-header{
		h2{
			line-height: 105px;
		}
		margin: 30px 0;
	}
	/*-------------------------------------------------*/
	/*	header
	/*-------------------------------------------------*/
	.main-header__right .phones, .main-header__right .city{
		float: none;
	}
	.main-header__right .phones{
		margin-bottom: 10px;
	}
	.main-header__phone{
		margin-top: 0;
	}
	.city__body br{
		display: none;
	}
	.main-menu ul{
		columns: 3;
		column-count: 3;
		li{
			margin-bottom: 10px;
		}
	}
	/*-------------------------------------------------*/
	/*	slider
	/*-------------------------------------------------*/
	.callback-form__header{
		font-size: 20px;
	}
	.callback-form{
		width: 350px;
	}
	.main-slider{
		height: 450px;
	}
	.main-slider__text{
		width: 29%;
		font-size: 40px;
	}
	.main-slider__image{
		width: 37%;
	}
	/*-------------------------------------------------*/
	/*	service
	/*-------------------------------------------------*/
	.service li{
		float: none;
		width: 100%;
	}
	.service-buttons .presentation{
		margin-left: 50px;
	}
	/*-------------------------------------------------*/
	/*	team
	/*-------------------------------------------------*/
	.team__item.big{
		height: 433px;
	}
	.team-footer,.page__prices{
		margin-bottom: 60px;
	}
	.page__team, .page__clients, .page__news{
		padding-bottom: 60px;
	}
	.team-footer .text{
		top: 20px;
		right: -42px;
	}
	.team-footer__more .num{
		font-size: 85px;
		line-height: 85px;
	}
	.team-footer__more .num span{
		font-size: 67px;
		vertical-align: 10px;
	}
	.team-footer__more{
		padding-right: 10px;
		padding-left: 40px;

	}
	/*-------------------------------------------------*/
	/*	achivements
	/*-------------------------------------------------*/
	.achivements__text{
		width: 257px;
	}
	/*-------------------------------------------------*/
	/*	news
	/*-------------------------------------------------*/
	.news__item-wrap.akcia .news__header{
		font-size: 25px;
	}
	.prices .prices__header span{
		width: 190px;
		font-size: 18px;
	}
	.prices .result-top .month{
		font-size: 22px;
	}
	.prices .result-top .month span:first-child{
		font-size: 50px;
		line-height: 29px;
	}
	.prices .result-top .top{
		font-size: 50px;
	}
	.prices .result-top .top span{
		line-height: 35px;
	}
	.prices .result-top .top span:first-child{
		font-size: 20px;
	}
	.prices .result-top i{
		margin: 0 7%;
	}
	.prices .result-body{
		padding: 20px 25px;
	}
	/*-------------------------------------------------*/
	/*	subscribe
	/*-------------------------------------------------*/
	.subscribe__right{
		margin-top: 0;
		width: 540px	;

	}
	.subscribe__submit{
		width: 100%;
		margin-top: 10px;
		// margin-top: 10px;
		text-align: center;
		text-align-last: center;

	}
	/*-------------------------------------------------*/
	/*	footer
	/*-------------------------------------------------*/
	.main-footer{
		.col-1, .col-2{
			float: none;
			width: 100%;
			border: none;
			min-height: auto !important;
			padding: 0;

		}
		.col-1{

			p{width: 100%;}
		}
		.col-2{
			margin-top: 20px;
			font-size: 0;
			.sogl, .social{
				font-size: 14px;
				position: static;
				width: 40%;
				display: inline-block;
				vertical-align: middle;
			}
			.social{
				margin-right: 5%;
			}
		}
		.col-3{
			width: 27%;
		}
		.col-4{
			width: 33%;
		}
		&__left{
			float: left;
			width: 40%;

		}

	}
	/*-------------------------------------------------*/
	/*  main-form
	/*-------------------------------------------------*/
	.main-form__footer span{
		width: 50%;
	}
	.main-form__ui-slider-title{
		display: block !important;
		margin-bottom: 20px;
	}
	.main-form__ui-slider{
		max-width: 350px;
	}
	.addresume{
		display: none;
	}
	.uslovia{
		text-align: center;
		.icon{
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.subscribe--small{
		padding: 25px 35px;
		input{
			font-size: 15px;
		}
		.subscribe__submit{
			margin-top: 0;
			padding-left: 20px;
			padding-right: 20px;
		}
		.column{
			font-size: 14px;
		}
	}
	.best-menu__header span:last-child{
		font-size: 16px;
	}
	.best-menu__header, .best-menu__item{
		padding-left: 15px;
		padding-right: 15px;
	}
	.left-menu__item {
		    min-height: 53px;
    line-height: 43px;
	}
	.left-menu__item > a{
		line-height: 1.3em;
	}
	.left-menu__item > a .title, .left-menu__submenu a{
		font-size: 13px;
	}
	.left-menu .icon-wrap{
		top: 8px;
	}
	.left-menu__item.open .title:after, .left-menu__item.closed .title:after{
		top: 20px;
	}
}/*1239*/

@media screen and (min-width: 992px){

	.left-menu > ul{
		display: block !important;
	}
	.best-menu ul{
		display: block !important;
	}
}
@media screen and (max-width: 992px){
	.cooperation{
		margin-top: 0;
	}
	.best-menu{
		ul{
			display: none;
		}
	}
	.over-block{
		.left-menu{
			top: 0 !important;
			position: static;
		}
	}


	.text-section .price{
		padding-left: 0;
	}

		.left-menu__responsive-button{
		display: block;
	}
	.left-menu ul{
		display: none;
	}
	h2.big, .service__header.big{
		font-size: 80px;
	}
	.input{
		font-size: 16px;
		height: 35px	;
	}
	.submit{
		font-size: 20px;	
	}
	/*-------------------------------------------------*/
	/*	header
	/*-------------------------------------------------*/
	.main-header__left{
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
	.main-header__right{
		margin-top: -50px;
	}
	/*-------------------------------------------------*/
	/*	slider
	/*-------------------------------------------------*/
	.main-slider{
		height: 330px;
	}
	.main-slider__text{
		font-size: 30px;
	}
	.main-slider__callback i{
		display: none;
	}
	.main-slider__callback{
		top: 10px;
		margin-top: auto;
	}
	.callback-form{
		width: 270px;
		padding: 15px 20px 20px;
	}
	/*-------------------------------------------------*/
	/*	service
	/*-------------------------------------------------*/
	.service{
		margin-bottom: 40px;
	}
	.service-buttons .presentation .desc{
			position: static;
		}
	.service__list{
		font-size: 0;
	}
	.service__item-wrap{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		float: none;
	}
	.service__item{
		height: auto;
	}
	.service-buttons{
		.btn{
			width: 100%;
		}
		.bdr:after{
			display: none;
		}
	}
	.service-buttons .presentation{
		margin-left: 0;
	}
	.service-buttons .presentation .desc{
		line-height: normal;
		width: auto;
		margin: 0;
		margin-top: 10px;
		&:before{
			display: none;
		}
	}
	/*-------------------------------------------------*/
	/*	team
	/*-------------------------------------------------*/
	.team__item.big{
		position: static;
		width: auto;
		right: auto;
	}
	.team-footer{
		padding-top: 0;
		&__item{
			text-align: center;
			padding: 10px;
			display: block;
			border-top: 1px dashed #707070;
			border-right: 1px dashed #707070;
			float: left;
			width: 50%;
			&:nth-child(1),&:nth-child(2){
				border-top: none;
			}
			&:nth-child(2n+2){
				border-right: 0;
			}
		}
		&__more{
			padding-top: 50px;
			padding-left: 50px;
			text-align: left;
		}
		.text{
			position: static;
			color: white;
			background: $red;
			width: 100%;
			padding: 8px;
			border-radius: 5px;
			&:after{
				display: none;
			}
		}
		.name{
			margin: 0;
		}
	}
	/*-------------------------------------------------*/
	/*	shema
	/*-------------------------------------------------*/
	.page__shema{
		h2{
			text-align: center;
		}
	}
	.shema{

		padding: 0;
		margin: 0;
		&__item{
			width: 100%;
			display: inline-block;
			margin-bottom: 10px;
			&:nth-child(1) span{
				background-color: #4A9355;
			}
			&:nth-child(2) span{
				background-color: #4DA58F;
			}
			&:nth-child(3) span{
				background-color: #4D78A5;
			}
			&:nth-child(4) span{
				background-color: #664DA5;
			}
			&:nth-child(5) span{
				background-color: #9A4DA5;
			}
			&:nth-child(6) span{
				background-color: #A92F5D;
			}
			&:nth-child(7) span{
				background-color: #EE1937;
			}
		}
		img{
			display: none;
		}
		span{
			display: inline-block;
			position: static;
			margin: 0;
			vertical-align: middle;
			margin-right: 20px;
		}
		.tooltip{
			width: 70%;
			font-size: 16px;
			max-width: 300px;
			display: inline-block;
			vertical-align: middle;
			position: static;
			margin: -0px;
			display: inline-block;
			position: relative;
			left: 0;
			right: 0;
			&:after{
				// display: none;
				border-color: transparent;
				border-right-color: white;
				left: -9px;
				top: 50%;
				margin-top: -10px;
				bottom: auto;
			}
		}
		&-bottom{
			text-align: center;
			.btn{
				float: none;
				display: inline-block;
			}
		}
	}
	/*-------------------------------------------------*/
	/*	news
	/*-------------------------------------------------*/
	.news__item-wrap{
		border-right: none;
		border-bottom: 1px dashed gray;
		min-height: auto !important;
		padding-bottom: 20px;
	}
	.news__item{
		min-height: auto;
	}
	/*-------------------------------------------------*/
	/*	achivements
	/*-------------------------------------------------*/
	.achivements{
		&__col{
			width: 100%;
			min-height: auto !important;
		}
		&__row{
			font-size: 0;
			font-size: 14px;
		}
		&__icon{
			width: 20%;
		}
		&__text{
			width: 80%;
		}

	}
	
	/*-------------------------------------------------*/
	/*	prices
	/*-------------------------------------------------*/
	.prices .result-top{
		background-image: none;
	}
	.prices .result-top{
		padding-bottom: 10px;
	}
	.prices{
		[class*='col']{
			margin-top: 50px;
		}
	}
	/*-------------------------------------------------*/
	/*	subscribe
	/*-------------------------------------------------*/
	.subscribe__right{
		width: 50%;
		
	}
	.subscribe__input,.subscribe__submit{
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		width: 100%;
		max-width: 100%;
		margin-top: 10px;
		&:first-child{
			margin-top: 0px;
		}
	}
	/*-------------------------------------------------*/
	/*	footer
	/*-------------------------------------------------*/
	.main-footer{
		&__left{
			width: 55%;
		}
		.col-3{
			width: 45%;
		}
		.col-4{
			padding-top: 20px;
			border-top: 1px dashed #707070;
			width: 100%;
			padding-left: 0;
			height: auto !important;
			border-left: none;
			ul{
				columns: 2;
				column-count: 2;
			}
		}
	}

}
.responsive-menu{
	display: none;
}
@media screen and (min-width: 767px){
	.main-menu ul {
		display: block !important;
	}


}
@media screen and (max-width: 767px){
	.design-controls{
		position: static;
		padding-bottom: 30px;
		margin-top: 0;
	}
	.design-slider .bottom{
		text-align: center;
	}
	.design-wrap{
		.features__item, .features__column{
			width: 100%;

		}
	}
	.history-section__body{
		padding: 10px;
	}
	.history-post{
		margin: auto;
		margin-bottom: 30px;
		position: relative;

	}
	.history-section__item{
		max-width: 100%;
		margin-bottom: 30px;
		&:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: #000;
			opacity: .4;
		}
	}
	.history-section__item--small{
		&:after{
			display: none;
		}
	}
	.history-section__body{
		z-index: 1;
	}
	.video-thumbs{
		margin-bottom: 30px;
	}
	.blog-video{
		margin-left: auto;
		margin-right: auto;
	}
	.blog-post--horizontal{
		max-width: 420px;
		margin: auto;
		margin-bottom: 30px;
		height: auto;
		.blog-post__image{
			margin-bottom: 0;
			border-radius: 0;
		}
		.blog-post__image, .blog-post__body{
			display: block;
			width: 100%;
			float: none;
		}
	}
	.subscribe--small{
		.column{
			width: 100%;
			display: block;
			margin-bottom: 10px;
		}
	}
	.krugl-sup-text .big, .krugl-sup-text .sep{
		font-size: 50px;
	}
	.tarifs__body .ul--circle{
		column: 1;
		column-count: 1;
	}
	.prodv-works__positions .position{
		margin-top: 20px;
	}
	.sup-works__left, .sup-works__right, .sup-works__center{
		display: block;
		width: 100%;
		float: none;
		border: none;
		padding: 0;
		margin-bottom: 25px;
	}

	.text-section .price{
		font-size: 16px;
		span{
			font-size: 22px;
			margin-left: 10px;
		}
		.per{
			font-size: 16px;
			&:before{
				font-size: 16px;
			}
		}
	}
	h2.medium{
		font-size: 40px;
	}
	.big-padding{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.tarifs__footer{
		.price{
			display: block;
		}
		text-align: center;
	}
	.tarifs__footer .btn{
		float: none;
	}
	.works-header__right{
		text-align: center;
		margin-top: 20px;
	}
	.prodv-works__footer{
		text-align: center;
	}
	.prodv-works__footer .projects-col{
		display: block;
		width: 100%;

	}
	.prodv-works__footer .projects-col span:first-child, .sup-works__footer .projects-col span:first-child{
		font-size: 100px;
	}
	.prodv-works__footer .btn{
		float: none;
		margin-top: 20px;
	}
	.prodv-works__positions .position .achivements__ico{
		margin: 0;
		text-align: center;
		margin-bottom: 20px;
		width: 100%;
	}
	.prodv-works__positions .position .achivements__text, .works-header__left, .works-header__right, .prodv-works__positions .achivements__city, .prodv-works__positions .position{
		display: block;
		padding: 0;
		width: 100%;

	}
	.prodv-works__positions .achivements__city{
		.name{
			display: inline-block;
		}
		.label {
			margin-bottom: 20px;
			display: inline-block;
			span{
				display: inline-block;
			}
		}

	}
	.prodv-shema__item .fill span{
		font-size: 20px;
		line-height: 30px;
		padding: 15px;
	}
	.prodv-shema__item .bottom{
		padding: 10px;
		border: none;
		padding-left: 0;
		height: auto;
	}
	.prodv-shema{
		&__item{
			width: 100%;
			float: none;
			.top{
				position: static;
				height: auto;
			}
			.fill{
				position: static;
				height: auto;
				span{
					position: static;
				}
			}
			&:nth-child(1){
	            .fill{
	                width: 28%;
	                background-color: #F8734F;
	            }
	        }
	        &:nth-child(2){
	            .fill{
	                width: 40%;
	                background-color: #FF534B;
	            }
	        }
	        &:nth-child(3){
	            .fill{
	                width: 52%;
	                background-color: #FD455B;
	            }
	        }
	        &:nth-child(4){
	            .fill{
	                width: 64%;
	                background-color: #FF3939;
	            }
	        }
	        &:nth-child(5){
	            .fill{
	                width: 76%;
	                background-color: #F62E3C;
	            }
	        }
	        &:nth-child(6){
	            .fill{
	                width: 88%;
	                background-color: #EC2525;
	            }
	        }
	        &:nth-child(7){
	           .fill{
	            width: 100%;
	           }
	        }
		}
	}
	.h2-wrap{
		display: block;
		.column{
			display: block;
		}
		.ta-right{
			text-align: left;
		}
		.note{
			width: auto;
		}
	}
	.features__column{
		height: auto;
		border-bottom: 1px dotted #9f5070;   
	}
	.features{
		h2.big{
			font-size: 40px !important;
		}
	}
	.img-left{
		margin-right: 20px;
		margin-bottom: 10px;
	}
	.uslovia{
		.col-sm-4{
			margin-bottom: 30px;
		}
	}
	.contacts-phones li{
		font-size: 13px;
	}
	.contacts-phones b{
		width: 130px;
	}
	.contacts-phones{
		columns: 1;
		column-count: 1;
	}
	.contacts-city__phone, .contacts-city__addr{
		width: 100%;
		margin-bottom: 30px;
	}
	.services-section__image{
		display: none;
	}
	.reviews-section__text{
		display: block;
	}

	.text-section--question{
		.column{
			text-align: center;
			text-align-last: center;
			margin-bottom: 20px;
			display: block ;
			width: 100% ;
			br{
				display: none ;
			}
			&.first{
				padding: 0;
				border-left: none;
				border-bottom: 2px solid $red;
				padding-bottom: 10px;
			}
		}
	}
	.main-form__footer{
		text-align: center;
	}
	.btn--red.big{
		float: none;
	}
	.reviews-section__image,
	.text-section__centered,
	.text-section__centered .text-section__image, 
	.text-section__centered .text-section__text{
		display: block;
		margin: auto;
		padding: 0;
	}
	.text-section--border .text-section__text{
		margin-left: 0;
		padding-left: 20px;
	}
	.text-section__centered .text-section__image, 
	.reviews-section{
		text-align: center;
		margin-bottom: 30px;
	}
	.reviews-section__image,
	.reviews-section__text{
		margin-bottom: 10px;
	}
	.reviews-section .fl-right{
		float: none;
	}
	.col-50, .main-form__ui-slider, 
	.main-form__footer span{
		width: 100%;
		margin-bottom: 30px;
	}
	.col-50:last-child{
		margin-bottom: 0;
	}
	.main-menu {
		padding: 10px;
		ul{clear: both;}
	}
	.main-menu .responsive-menu{
		display: block;

	}
	.main-menu ul{
		display: none;
		columns: 1;
		column-count: 1;
		margin-top: 10px;
		border-top: 1px dotted gray;
		padding-top: 10px;
	}
	.main-menu ul li{
		width: 100%;
		text-align: center;
		text-align-last: center;
	}
	.main-header{
		text-align: center;
		&__left{
			float: none;
		}
		&__center{
			margin: auto;
			margin-top: 40px;
			float: none;
			max-width: 400px;
			margin-bottom: 40px;
		}
		&__right{
			text-align: left;
			display: inline-block;
			margin: auto;
			float: none;
			.phones, .city{
				float: left;
			}
		}
	}
	.main-slider{
		text-align: center;
		height: auto;
		&__slider{
			position: static;
			width: 100%;
		}
		&__text{
			text-align: left;
			font-size: 22px;
			margin-top: -40px;
		}
		&__callback{
			.input{
				max-width: 100%;
			}
			position: static;
			width: 100%;
		}
		.person{
			bottom: 12px;
			font-size: 15px;
		}
	}
	.subscribe__right{
		width: 100%;
		margin-top: 20px;
	}
	.service-buttons .btn{
		margin-bottom: 10px;
	}
	.team__item.big .inner{
		position: static;
		height: auto;
	}
	.team__item.big{
		height: auto;
	}
	.team__item.big .image{
		width: 50%;
	}
	.main-footer .logo span{
		display: none;
	}
	.main-footer .logo a{
		display: block;
	}
	.team__item.big{
		padding-right: 0;
	}
}

@media screen and (max-width: 600px){
	.main-slider .person{
		font-size: 14px;
	}
	h2.big, .service__header.big{
		font-size: 40px;
	}
	.main-slider__text{
		font-size: 18px;
	}
	.big-header h2{
		line-height: 40px;
	}
	.main-header__buttons .btn{
		width: 100%;
		float: none;
		display: block;
		margin-bottom: 10px;

	}
	.main-header__menu a{
		font-size: 14px;
	}
	.service__item-wrap{
		width: 100%;
		float: none;
	}
	.team-footer__item{
		border: none;
		width: 100%;
	}
	.team-footer__more{
		padding: 30px 40px;
	}
	.main-footer__left{
		width: 100%;
		margin-bottom: 30px;
		border-bottom: 1px dashed #707070;
	}
	.page__footer{
		padding: 40px 0;
	}
	.main-footer{
		&__col{
			margin-top: 30px;
			border: none;
			width: 100% !important;
			float: none;
			padding: 0;
			ul{
				column-count: 1 !important;
			}
		}
	}
	.team__item.big .image{
		vertical-align: bottom;
		width: 40%;

	}
	.team__item.big .text{
		width: 60%;
		margin-top: 30px;
		padding-bottom: 20px;
		.spec, .desc{
			margin-bottom: 10px;
		}
	}
	.team__item.big .name{
		font-size: 18px;
	}
	.team__item{
		font-size: 12px;
	}
	.team__item .spec{
		margin-bottom: 10px;
	}
	.manager-callback span{
		font-size: 16px;
	}
		.main-footer__col{
		min-height: auto !important;
	}

}

@media screen and (max-width: 480px){
	.city__check{
		position: static;
		padding: 0;
		box-shadow: none;
		margin: 10px 0;
	}
	.history-section__item{
		margin-bottom: 30px;
	}
	.history-section__wrap--small{
		.history-section__image{
			height: auto;
				img{
				height: auto;
			}
		}
		width: 100%;
		
	}
	.blog__main-image{
		height: 400px;
		h1{
			font-size: 30px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.big{
		font-size: 20px;
	}
		.blog__content .marker{
		margin-left: 10px;
		margin-right: 10px;
		line-height: 1.4em;
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.img-left,.img-right{
		display: block;
		width: 100%;
		float: none;
		width: auto;
		max-width: 100%;
		text-align: center;
		margin: auto;
		margin-bottom: 20px;
	}
	.mb-30{
		margin-bottom: 15px !important;
	}
	.mb-60{
		margin-bottom: 30px !important;
	}
	.label{
		font-size: 13px;
	}
	.inner-vacancy__city{
		display: block;
	}
	.inner-vacancy__header{
		padding-right: 0;
	}
	.inner-vacancy__item{
		padding: 20px;
		&:before{
			display: none;
		}
	}
	.services-section{
		text-align: center;
		.btn{
			float: none;
		}
	}
	.service-block--big .service-block__price{
		padding: 20px;
		padding-top: 0;
		margin-top: 0;
	}
	.service-block--big .service-block__header{
		padding: 20px;

		.service__icon{
			width: 50px;
			margin: auto;
			text-align: center;
			display: block;
			position: static;
			margin-bottom: 20px;
		}
	}
	.service-buttons-block{
		height: auto;
	}
	.service-buttons-block a{
		position: static;
		width: 100%;
		margin-bottom: 30px;
		.statistic{
			width: 100%;
			display: block;
			text-align: left;
		}
	}
	.big-text, .btn--red.big{
		font-size: 18px !important;
	}
	h1{
		font-size: 35px;
	}
	.inner__main h2{
		font-size: 30px;
		margin-bottom: 30px;
	}
	h3{
		font-size: 20px;
	}
	body{
		font-size: 14px;
	}
	.inner__main p{
		font-size: 14px;
		margin: 15px 0;
	}
	.text-section{
		font-size: 15px;
		margin: 20px 0;
	}
	.main-form .form-label{
		margin-bottom: 20px;
	}

	/*-------------------------------------------------*/
	/*  main-form
	/*-------------------------------------------------*/
	.main-form, .main-form .col-50, .main-form .col-100{
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-form .row{
		margin-left: -15px;
		margin-right: -15px;
	}
	.table{
		font-size: 10px;
	}
	/*-------------------------------------------------*/
	/*	header
	/*-------------------------------------------------*/
	#mainSlider{
		display: none;
	}
	.page__main-slider .container{
		padding: 0;
	}
	.big-header{
		h2{
			display: block;
			width: 100%;
			float: none;
		}
		.right{
			display: block;
			width: 100%;
			position: static;
		}
	}
	/*-------------------------------------------------*/
	/*	shema
	/*-------------------------------------------------*/
	.shema .tooltip{
		font-size: 14px;
	}
	.shema-bottom .btn--red{
		font-size: 15px;
	}
	/*-------------------------------------------------*/
	/*	subscribe
	/*-------------------------------------------------*/
	.subscribe{
		padding: 20px;
	}
	/*-------------------------------------------------*/
	/*	team
	/*-------------------------------------------------*/
	.manager-callback span{
		display: block;
	}
	.team__item .num{
		font-size: 20px;
	}
	.team__item{
		font-size: 10px;
		&--small{
			padding-top: 10px;
			.spec{
				margin-bottom: 0;
			}
			.text{
				max-width: 56%;
				vertical-align: top !important;
			}
			.image{
				width: 40%;
				vertical-align: bottom !important;
			}
		}
	}
	.team__item .text{
		padding-left: 20px;
	}
	.team__item.big .btn{
		font-size: 11px;
	}
	.team__item.big .text{
		margin-left: -5px;
	}
	.team-footer .image img{
		max-height: 130px;
	}
	.team__item .name{
		font-size: 15px;
	}
	.team__item .text, .team__item .image{
		vertical-align: middle;
	}
	/*-------------------------------------------------*/
	/*	achivements
	/*-------------------------------------------------*/
	.achivements__col{
		padding: 10px;
	}
	.achivements .graph{
		padding: 10px;
	}
	.achivements__text{
		width: 100%;
	}
	.achivements__ico{
		display: block;
		margin: 0 auto 10px;

	}
	.achivements__city .name{
		display: block;
		text-align: center;
		margin-right: 0 !important;
		margin-bottom: 10px;
	}
	.achivements__name{
		text-align: center;
	}
	.achivements__row{
		border-bottom: 1px dashed #707070;
		padding-bottom: 20px;
	}
	.achivements .label{
		display: block;
	}

}